# Tour de Pologne Top 10 finishers prediction part 1 of 3 (data mining)<a class='tocSkip'>
Main idea is to predict who will finish in Top 10 position after each stage.<br>
Whole process is going to be updated and described thouroughly very soon, please stay tuned.

**Next notebooks:** <br>
[Part 2: Data stats and visuals](tdp_2_3_data_statistics_visualisation.ipynb)<br>
[Part 3: Data  modeling](tdp_3_3_data_modeling.ipynb)

In [1]:
import numpy as np
import pandas as pd

import re

import requests
from bs4 import BeautifulSoup

In [2]:
# Base URL for web scraping
url_base = 'http://firstcycling.com/race.php?r=19&y='

In [3]:
# Defining year range for data of interest
# Before the year of 2014 there is lack of general classification positions (GC) and time (GC Time) information
tour_year_start = 2014
tour_year_stop = 2018
tour_years = list(range(tour_year_start, tour_year_stop+1))
tour_years

[2014, 2015, 2016, 2017, 2018]

<br><br><br>
# Tour results by stages
<br>

In [4]:
# List of tour years for analysis
url_tour_results = []
for year in tour_years:
    url_tour_results.append(url_base + str(year))
# url_tour_results

In [5]:
# List of all stages in the above chosen tours
url_stages_results = []
for stage in url_tour_results:
    for s in range(1,8):
        url_stages_results.append(stage + '&k=etapper&e=0' + str(s))
# url_stages_results

### Generating dictionaries of biker and team name with corresponding system number  that are needed for further steps

In [6]:
biker_dict_stage = {}
team_dict_stage = {}
i = tour_year_start - 1
for stage in [stage for stage in url_stages_results if 'e=01' in stage]:
    # Preparing dataframe with all racer names
    dict_prep_ = pd.read_html(stage)
    dict_prep = dict_prep_[0]
    dict_prep['Name'] = dict_prep['Name'].str[0] + '.' + dict_prep['Name'].str.split(' ', 1, expand=True)[1]
    
    # Scraping system numbers
    r = requests.get(stage)
    soup = BeautifulSoup(r.text,'html.parser')
    system_numbers = soup.find('table')

    # Schema as `rider.php?r=2165` (2-5 digits with margin)
    biker_system_nr = pd.DataFrame(re.findall('rider.php\?r=(\d{2,6})', str(system_numbers)), columns=['biker_sys_nr'])
    # Schema as `team.php?l=8433` (3-4 digits with margin)
    team_system_nr = pd.DataFrame(re.findall('team.php\?l=(\d{3,5})', str(system_numbers)), columns=['team_sys_nr'])
    
    # Merging team and rider names with their system numbers 
    biker_dict_stage_ = dict(zip(dict_prep['Name'], biker_system_nr['biker_sys_nr']))
    biker_dict_stage.update(biker_dict_stage_)
    team_dict_stage_ = dict(zip(dict_prep['Team'], team_system_nr['team_sys_nr']))
    team_dict_stage.update(team_dict_stage_)
    i += 1
    print('Created dictionary of bikers participating in year ' + str(i))

Created dictionary of bikers participating in 2014
Created dictionary of bikers participating in 2015
Created dictionary of bikers participating in 2016
Created dictionary of bikers participating in 2017
Created dictionary of bikers participating in 2018

In [7]:
# Overall number of bikers and teams
len(biker_dict_stage), len(team_dict_stage)

(513, 69)

### Defining datetime functions

In [8]:
# Adding leading zeros for further splitting based on ':' character
def zeros_to_sec(df, col1, col2=False):
    df[col1] = np.where(df[col1].str.len() == 2, '00:00:' + df[col1],'00:' + df[col1]) 
    df[col1] = df[col1].where(df[col1].str.len() != 11, df[col1].str.slice(3,11))
    
    if col2:
        df[col2] = np.where(df[col2].str.len() == 2, '00:00:' + df[col2],'00:' + df[col2])
        df[col2] = df[col2].where(df[col2].str.len() != 11, df[col2].str.slice(3,11))

In [9]:
# Changing overall time to seconds
def time_to_sec(df, col1, col2=False):
    df[col1] = [(int(t[0])*3600 + int(t[1])*60 + int(t[2])) for t in df[col1].str.split(':')]
    df[col1] = df[col1] + df[col1].max()
    df.at[0, [col1]] = df[col1].max() / 2

    if col2:
        df[col2] = [(int(t[0])*3600 + int(t[1])*60 + int(t[2])) for t in df[col2].str.split(':')]
        df[col2] = df[col2] + df[col2].max()
        df.at[df[col2].idxmax(), [col2]] = df[col2].max() / 2

### Web scraping tour's stage-by-stage info for adding new columns with extended statistics. Output: `stages`

In [10]:
# Using URLs with all-year stages results
# url_stages_results[:]

In [11]:
stages_ = []

for year in tour_years:
    i = 1
    for stage_ in [stage_ for stage_ in url_stages_results if 'y='+str(year) in stage_]:
        try:
            stages__ = pd.read_html(stage_)
            stages__ = stages__[0]
            stages__['year'] = year
            # Limiting number of stages in each year to 7
            if i <= 7:
                stages__['stage'] = i
            else:
                i = 1        
            stages__.columns = ['position','to_drop','name','age','team','time_in_s','gc','gc_time_in_s','year','stage']
            stages__['age'] = year - stages__['age']
            stages__.replace(to_replace=r'\+ ', value='', regex=True, inplace=True)
            stages__.replace(to_replace=[np.NaN], value='00', inplace=True)
            
            zeros_to_sec(stages__, 'time_in_s','gc_time_in_s')
            time_to_sec(stages__, 'time_in_s','gc_time_in_s')
            
            # Setting DNF and DNS times to some big number
            try:
                stages__['time_in_s'].where((stages__['position'] != 'DNF') & (stages__['position'] != 'DNS'),
                                            999999, inplace=True)
                stages__['gc_time_in_s'].where((stages__['position'] != 'DNF') & (stages__['position'] != 'DNS'),
                                               999999, inplace=True)
            except TypeError:
                pass
            stages__.replace(to_replace=['DNF', 'DNS'], value=999, inplace=True)
            stages__['position'] = stages__['position'].astype('int')
            
            stages_.append(stages__)
            print('Scraped tour of', year, '/ Stage', i)
            i += 1
        except ValueError:
            print('There is no data for this stage. Skipping...')
            i += 1
            pass

Scraped tour of 2014 / Stage 1

C:\Users\cyberdeck\Anaconda3\lib\site-packages\pandas\core\ops.py:1167: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Scraped tour of 2014 / Stage 2

C:\Users\cyberdeck\Anaconda3\lib\site-packages\pandas\core\ops.py:1167: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Scraped tour of 2014 / Stage 3

C:\Users\cyberdeck\Anaconda3\lib\site-packages\pandas\core\ops.py:1167: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Scraped tour of 2014 / Stage 4
Scraped tour of 2014 / Stage 5
Scraped tour of 2014 / Stage 6
Scraped tour of 2014 / Stage 7
Scraped tour of 2015 / Stage 1
Scraped tour of 2015 / Stage 2
Scraped tour of 2015 / Stage 3
Scraped tour of 2015 / Stage 4
Scraped tour of 2015 / Stage 5
Scraped tour of 2015 / Stage 6

C:\Users\cyberdeck\Anaconda3\lib\site-packages\pandas\core\ops.py:1167: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Scraped tour of 2015 / Stage 7
Scraped tour of 2016 / Stage 1
Scraped tour of 2016 / Stage 2
Scraped tour of 2016 / Stage 3
Scraped tour of 2016 / Stage 4
Scraped tour of 2016 / Stage 5
There is no data for this stage. Skipping...
Scraped tour of 2016 / Stage 7
Scraped tour of 2017 / Stage 1

C:\Users\cyberdeck\Anaconda3\lib\site-packages\pandas\core\ops.py:1167: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Scraped tour of 2017 / Stage 2
Scraped tour of 2017 / Stage 3
Scraped tour of 2017 / Stage 4
Scraped tour of 2017 / Stage 5
Scraped tour of 2017 / Stage 6
Scraped tour of 2017 / Stage 7

C:\Users\cyberdeck\Anaconda3\lib\site-packages\pandas\core\ops.py:1167: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Scraped tour of 2018 / Stage 1

C:\Users\cyberdeck\Anaconda3\lib\site-packages\pandas\core\ops.py:1167: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Scraped tour of 2018 / Stage 2
Scraped tour of 2018 / Stage 3
Scraped tour of 2018 / Stage 4
Scraped tour of 2018 / Stage 5
Scraped tour of 2018 / Stage 6
Scraped tour of 2018 / Stage 7

In [12]:
# Merging above stages into DataFrame
stages = pd.concat(stages_, axis=0)
stages.reset_index(drop=True, inplace=True)

# Dropping columns with no information
stages.drop('to_drop', axis=1, inplace=True)

# Shortening biker names into 'initial.surname' form
stages['name'] = stages['name'].str[0] + '.' + stages['name'].str.split(' ', 1, expand=True)[1]

# Creating Biker and Team system numbers
stages['biker_sys_nr'] = stages['name'].map(biker_dict_stage)
stages['team_sys_nr'] = stages['team'].map(team_dict_stage)

# Rearranging columns
stages = stages[['name','biker_sys_nr','age','team','team_sys_nr','time_in_s','gc','gc_time_in_s','year','stage','position']]

In [13]:
stages.head()

,name,biker_sys_nr,age,team,team_sys_nr,time_in_s,gc,gc_time_in_s,year,stage,position
0,Y.Hutarovich,100,31,AG2R La Mondiale,10072,20870.0,1,20860.0,2014,1,1
1,R.Maikin,14004,24,RusVelo,3482,20870.0,2,20864.0,2014,1,2
2,M.Mori,492,34,Lampre - Merida,6418,20870.0,3,20866.0,2014,1,3
3,G.Boivin,1937,25,Cannondale Pro Cycling,3481,20870.0,6,20870.0,2014,1,4
4,M.Haller,6246,23,Team Katusha,8441,20870.0,7,20870.0,2014,1,5

### Creating columns with different statistics for each biker. Output: `biker_by_stage`

In [14]:
'''
'n_tours'            - number of tours started in
'n_stages'           - number of stages started in
'avg_year'          - mean year from all tours
'best_pos_ovr'       - best position from all stages
'worst_pos_ovr'      - worst position from all stages
'avg_pos_ovr'        - average position from all stages
'n_top10_ovr'        - number of top10 positions in all stages 
'perc_win_ovr'       - percentage of winning throughout all stages
'perc_top10_ovr'     - percentage of being in top10 in all stages
'avg_speed_ovr'      - average speed throughout all stages
'best_pos_l...'      - best position from last 1-3 stages
'wors_pos_l...'      - etc...
'avg_pos_l...'
'n_top10_l...'
'perc_win_l...'
'perc_top10_l...'
'avg_speed_l...'
'''

biker_by_stage_ = pd.DataFrame()

# Number of tours and stages ridden by Biker
biker_by_stage_['n_tours'] = stages.groupby(['name'])['year'].nunique()
biker_by_stage_['n_stages'] = stages.groupby(['name'])['stage'].count()
biker_by_stage_['avg_year'] = stages.groupby('name')['year'].mean()

# Best, average and worst tour stats
min_max_ovr = stages.groupby('name')[['position','time_in_s','gc','gc_time_in_s']].agg(['min','mean','max'])

# Number of Top 10 positions
top10 = pd.DataFrame(stages.groupby(stages[stages['position'] <= 10]['name'])['position'].count())

# Number of won stages
winner_ = pd.DataFrame(stages.groupby(stages[stages['position'] == 1]['name'])['position'].count())

# Defining the same data as above but only for last 3 stages
last_3_stages = stages.sort_values(['name','year','stage']).groupby('name').tail(3)
min_max_avg_l3 = last_3_stages.groupby('name')[['position','time_in_s','gc','gc_time_in_s']].agg(['min','mean','max'])
top10_l3 = pd.DataFrame(last_3_stages[last_3_stages['position'] <= 10]['name'].value_counts())
winner_l3 = pd.DataFrame(last_3_stages.groupby(last_3_stages[last_3_stages['position'] == 1]['name'])['position'].count())

# Merging all info into one DataFrame
biker_by_stage_ = pd.concat([biker_by_stage_, min_max_ovr, top10, winner_, min_max_avg_l3, top10_l3, winner_l3], axis=1, sort=False)
biker_by_stage_ = biker_by_stage_.replace(np.NaN, 0)
biker_by_stage_.columns = ['n_tours','n_stages','avg_year','best_pos_ovr','avg_pos_ovr','worst_pos_ovr','best_time_ovr','avg_time_ovr','worst_time_ovr',
                         'best_gc_ovr','avg_gc_ovr','worst_gc_ovr','best_gc_time_ovr','avg_gc_time_ovr','worst_gc_time_ovr','n_top10_ovr','n_win_ovr',
                         'best_pos_ovr_l3','avg_pos_ovr_l3','worst_pos_ovr_l3','best_time_ovr_l3','avg_time_ovr_l3','worst_time_ovr_l3',
                         'best_gc_ovr_l3','avg_gc_ovr_l3','worst_gc_ovr_l3','best_gc_time_ovr_l3','avg_gc_time_ovr_l3','worst_gc_time_ovr_l3',
                         'n_top10_l3','n_win_l3']

# Adding columns of Top 10 and winnig stage percetage
biker_by_stage_['perc_top10_ovr'] = biker_by_stage_['n_top10_ovr'] / biker_by_stage_['n_stages']
biker_by_stage_['perc_win_ovr'] = biker_by_stage_['n_win_ovr'] / biker_by_stage_['n_stages']
# biker_by_stage_

In [16]:
# Merging above results into DataFrame
# Each row is an information about each stage ridden by the biker together with his personal info,
# counted statistics and historical data
biker_by_stage = pd.merge(stages, biker_by_stage_, left_on='name', right_on=biker_by_stage_.index)
biker_by_stage.head()

,name,biker_sys_nr,age,team,team_sys_nr,time_in_s,gc,gc_time_in_s,year,stage,...,best_gc_ovr_l3,avg_gc_ovr_l3,worst_gc_ovr_l3,best_gc_time_ovr_l3,avg_gc_time_ovr_l3,worst_gc_time_ovr_l3,n_top10_l3,n_win_l3,perc_top10_ovr,perc_win_ovr
0,Y.Hutarovich,100,31,AG2R La Mondiale,10072,20870.0,1,20860.0,2014,1,...,98,109.0,117,91441.0,104600.666667,112168.0,0.0,0.0,0.571429,0.142857
1,Y.Hutarovich,100,31,AG2R La Mondiale,10072,19455.0,2,40315.0,2014,2,...,98,109.0,117,91441.0,104600.666667,112168.0,0.0,0.0,0.571429,0.142857
2,Y.Hutarovich,100,31,AG2R La Mondiale,10072,13167.0,2,53482.0,2014,3,...,98,109.0,117,91441.0,104600.666667,112168.0,0.0,0.0,0.571429,0.142857
3,Y.Hutarovich,100,31,AG2R La Mondiale,10072,20609.0,3,74091.0,2014,4,...,98,109.0,117,91441.0,104600.666667,112168.0,0.0,0.0,0.571429,0.142857
4,Y.Hutarovich,100,31,AG2R La Mondiale,10072,17350.0,98,91441.0,2014,5,...,98,109.0,117,91441.0,104600.666667,112168.0,0.0,0.0,0.571429,0.142857

### Manually setting captured jerseys

In [18]:
# TBD

<br><br><br>
# Stages summary
Overall summary of all tours' stages
<br>

In [19]:
# Using 'url_tour_results' for creating stages summary data
url_stages_summary = []
for tour in url_tour_results:
    url_stages_summary.append(tour + '&k=etapper')
# url_stages_summary

In [20]:
# Web scraping stages summary data
stages_summary_ = []
for year in tour_years:
    for stage in [stage for stage in url_stages_summary if 'y='+str(year) in stage]:
        stages_summary__ = pd.read_html(stage)
        stages_summary__ = pd.DataFrame(stages_summary__[0])
        stages_summary__['year'] = year
        stages_summary_.append(stages_summary__)
stages_summary = pd.concat(stages_summary_, axis=0)
stages_summary.head(8)

,Unnamed: 0,Unnamed: 1,Date,Km,Unnamed: 4,Finish,Winner,Leader,Points,Mountains,Sprint,year
0,1,NaN,3.Aug,226.0,Results,Bygdoszcz,Y.Hutarovich,Y.Hutarovich,Y.Hutarovich,M.Paterski,J.Engoulvent,2014
1,2,NaN,4.Aug,226.0,Results,Warszawa,P.Vakoc,P.Vakoc,Y.Hutarovich,M.Paterski,P.Vakoc,2014
2,3,NaN,5.Aug,174.0,Results,Rzeszów,T.Bos,P.Vakoc,Y.Hutarovich,M.Paterski,P.Vakoc,2014
3,4,NaN,6.Aug,236.0,Results,Katowice,J.Van Genechten,P.Vakoc,Y.Hutarovich,M.Taciak,M.Krizek,2014
4,5,NaN,7.Aug,190.0,Results,Strbskie Pleso,R.Majka,P.Vakoc,Y.Hutarovich,M.Paterski,M.Krizek,2014
5,6,NaN,8.Aug,174.0,Results,Bukowina Tatrzanska,R.Majka,R.Majka,Y.Hutarovich,M.Paterski,M.Krizek,2014
6,7,NaN,9.Aug,25.0,Results,Krakow,K.Vandewalle,R.Majka,Y.Hutarovich,M.Paterski,M.Krizek,2014
0,1,NaN,2.Aug,122.0,Results,Warszawa,M.Kittel,M.Kittel,M.Kittel,A.Kurek,M.Mohoric,2015

### Specifying stage type by its webpage icon

In [21]:
# Since icons are named in Norwegian, I create Norwegian-English dictionary of stage types
# stage_names_nor = list(set(stage_type))
stage_names_nor = ['Flatt','Smaakupert','Smaakupert-MF','Fjell','Fjell-MF', 'Tempo']
stage_names_en = ['flat','hilly','hilly-mf','mountain','mountain-mf','itt']
stage_names = dict(zip(stage_names_nor, stage_names_en))
stage_type_recode = dict(zip(stage_names_nor, list(range(1,7)))) 

stage_names

{'Fjell': 'mountain',
 'Fjell-MF': 'mountain-mf',
 'Flatt': 'flat',
 'Smaakupert': 'hilly',
 'Smaakupert-MF': 'hilly-mf',
 'Tempo': 'itt'}

In [22]:
# Historically (but only before 2014 year), there were also two more stage types,
# but here I skip them as they are no longer valid.
# Bakketempo : mountain-itt; Ukjent : '?' (question mark); 

# Creating a list od all stage types thorought all analyzed tours
stage_type = []
for stage in url_stages_summary:
    r = requests.get(stage)
    soup = BeautifulSoup(r.text,'html.parser')

    # Selecting all file names used in naming stage type
    stage_soup = soup.find_all('img')
    stage_img = re.findall('([A-Z][a-z].*?)\.gif', str(stage_soup))
    
    # Selecting only names correspoding to stage types 
    for name_ in stage_img:
        if name_ in stage_names_nor:
            stage_type.append(name_)
            
# stage_type

In [23]:
stages_summary.head()

,Unnamed: 0,Unnamed: 1,Date,Km,Unnamed: 4,Finish,Winner,Leader,Points,Mountains,Sprint,year
0,1,NaN,3.Aug,226.0,Results,Bygdoszcz,Y.Hutarovich,Y.Hutarovich,Y.Hutarovich,M.Paterski,J.Engoulvent,2014
1,2,NaN,4.Aug,226.0,Results,Warszawa,P.Vakoc,P.Vakoc,Y.Hutarovich,M.Paterski,P.Vakoc,2014
2,3,NaN,5.Aug,174.0,Results,Rzeszów,T.Bos,P.Vakoc,Y.Hutarovich,M.Paterski,P.Vakoc,2014
3,4,NaN,6.Aug,236.0,Results,Katowice,J.Van Genechten,P.Vakoc,Y.Hutarovich,M.Taciak,M.Krizek,2014
4,5,NaN,7.Aug,190.0,Results,Strbskie Pleso,R.Majka,P.Vakoc,Y.Hutarovich,M.Paterski,M.Krizek,2014

### Columns rearranging and cleaning

In [24]:
# Assigning stage type to appropriate column
stages_summary['Unnamed: 1'] = stage_type

# Recoding categorical stage type names to corresponding numerics and rearranging columns
stages_summary.columns = ['stage','stage_type','date','dist','to_drop','finish','stage_winner','stage_leader','points_leader','mountains_leader','sprint_leader','year']
stages_summary['stage_type_code'] = stages_summary['stage_type'].map(stage_type_recode)
stages_summary = stages_summary[['date','year','stage','stage_type','stage_type_code','dist','to_drop','finish','stage_winner','stage_leader','points_leader','mountains_leader','sprint_leader']]

# Mapping English names to Norwegian descriptions
stages_summary['stage_type'] = stages_summary['stage_type'].map(stage_names)

stages_summary.drop('to_drop', axis=1, inplace=True)

# Selecting only appropriate columns
stages_summary = stages_summary.loc[:, 'date':'finish'].reset_index(drop=True)
stages_summary.head()

    date  year  stage stage_type  stage_type_code   dist          finish
0  3.Aug  2014      1       flat                1  226.0       Bygdoszcz
1  4.Aug  2014      2       flat                1  226.0        Warszawa
2  5.Aug  2014      3       flat                1  174.0         Rzeszów
3  6.Aug  2014      4       flat                1  236.0        Katowice
4  7.Aug  2014      5      hilly                2  190.0  Strbskie Pleso

### Parsing stage date into appropriate format

In [25]:
from datetime import timedelta

In [26]:
stages_summary['date'] = stages_summary['date'] + '.' + stages_summary['year'].astype('str')

In [27]:
stages_summary['date'] = pd.to_datetime(stages_summary['date'], format='%d.%b.%Y')
stages_summary['date'][:3]

0   2014-08-03
1   2014-08-04
2   2014-08-05
Name: date, dtype: datetime64[ns]

### Weather info

In [28]:
# Usefull information taken into consideration that can have an impact on the stage results are:
# Precipitation(0/1; TBD),Temp(float), Cloud overcast and a few others
# Data scraped from: https://dane.imgw.pl/data/dane_pomiarowo_obserwacyjne/

'''
Technical names for different weather parameters with numbers indicating lenght of the value:

Station code                         9
Station name                        30
Year                                 4
Month                                2
Day                                  2
Hour                                 2
Air temperature                    6/1
TEMP measurement status              1
Wetted thermometer temperature     6/1
TTZW measurement status              1
Ice indicator                        1
Ventilation indicator                1
Relative humidity                    5
WLGW measurement indicator           1
Wind direction code                  3
DKDK measurement indicator           1
Wind speed                           5
FWR measurement indicator            1
Overall overcast                     5
ZOGK measurement indicator           1
Visibility                           5
WID measurement indicator            1

Status "8" means lack of measurement
Overcast:
        - 0 - 10 scale up to 31.12.1988
        - 0 – 8 scale up to 01.01.1989
'''

names = ['station_code','station_name','year','month','day','hour',
         'temp','temp_status','wet_temp','ttzw_status','ice_ind','vent_ind',
         'rel_humid','wlgw_status','wind_dir','dkdk_status','wind_speed','fwr_status',
         'clouds_ovrl','zogk_status','visibility','wid_status']

# NOTE: There are no available data for the proper month of 2018. Will use them upon availability. 
weather_08_14 = pd.read_csv('data/weather_k_t_08_2014.csv', encoding = 'ISO-8859-2', header=None, names=names)
weather_08_15 = pd.read_csv('data/weather_k_t_08_2015.csv', encoding = 'ISO-8859-2', header=None, names=names)
weather_07_16 = pd.read_csv('data/weather_k_t_07_2016.csv', encoding = 'ISO-8859-2', header=None, names=names)
weather_07_17 = pd.read_csv('data/weather_k_t_07_2017.csv', encoding = 'ISO-8859-2', header=None, names=names)
weather_08_17 = pd.read_csv('data/weather_k_t_08_2017.csv', encoding = 'ISO-8859-2', header=None, names=names)

# Using data from earlier month
weather_08_18 = pd.read_csv('data/weather_k_t_07_2018.csv', encoding = 'ISO-8859-2', header=None, names=names)

In [29]:
# Reassigning proper values for comparing weather date with the stage date
# Once appropriate data will be available this step is redundant
weather_08_18['month'] = 8

In [30]:
# Gathering all above weather information into one DataFrame
weather_info = pd.concat([weather_08_14, weather_08_15,weather_07_16,
                          weather_07_17, weather_08_17, weather_08_18], axis=0)
# Choosing time of measurement as 12 o'clock
weather_info = weather_info[weather_info.hour == 12].reset_index(drop=True)
weather_info.head()

,station_code,station_name,year,month,day,hour,temp,temp_status,wet_temp,ttzw_status,...,rel_humid,wlgw_status,wind_dir,dkdk_status,wind_speed,fwr_status,clouds_ovrl,zogk_status,visibility,wid_status
0,249180010,PSZCZYNA,2014,8,1,12,22.4,NaN,0.0,8.0,...,0,8.0,C,NaN,0,NaN,5,NaN,6,NaN
1,249180010,PSZCZYNA,2014,8,2,12,29.5,NaN,0.0,8.0,...,0,8.0,E,NaN,2,NaN,0,NaN,8,NaN
2,249180010,PSZCZYNA,2014,8,3,12,29.4,NaN,0.0,8.0,...,0,8.0,SSE,NaN,2,NaN,1,NaN,8,NaN
3,249180010,PSZCZYNA,2014,8,4,12,20.2,NaN,0.0,8.0,...,0,8.0,WSW,NaN,2,NaN,4,NaN,8,NaN
4,249180010,PSZCZYNA,2014,8,5,12,22.4,NaN,0.0,8.0,...,0,8.0,SE,NaN,1,NaN,3,NaN,6,NaN

In [31]:
# Merging all weather date columns to compare them later with stage dates
weather_info['date'] = weather_info['year'].astype('str') + '.' +\
                       weather_info['month'].astype('str') + '.' +\
                       weather_info['day'].astype('str')
weather_info['date'] = pd.to_datetime(weather_info['date'], format='%Y.%m.%d')
weather_info.head()

,station_code,station_name,year,month,day,hour,temp,temp_status,wet_temp,ttzw_status,...,wlgw_status,wind_dir,dkdk_status,wind_speed,fwr_status,clouds_ovrl,zogk_status,visibility,wid_status,date
0,249180010,PSZCZYNA,2014,8,1,12,22.4,NaN,0.0,8.0,...,8.0,C,NaN,0,NaN,5,NaN,6,NaN,2014-08-01
1,249180010,PSZCZYNA,2014,8,2,12,29.5,NaN,0.0,8.0,...,8.0,E,NaN,2,NaN,0,NaN,8,NaN,2014-08-02
2,249180010,PSZCZYNA,2014,8,3,12,29.4,NaN,0.0,8.0,...,8.0,SSE,NaN,2,NaN,1,NaN,8,NaN,2014-08-03
3,249180010,PSZCZYNA,2014,8,4,12,20.2,NaN,0.0,8.0,...,8.0,WSW,NaN,2,NaN,4,NaN,8,NaN,2014-08-04
4,249180010,PSZCZYNA,2014,8,5,12,22.4,NaN,0.0,8.0,...,8.0,SE,NaN,1,NaN,3,NaN,6,NaN,2014-08-05

In [32]:
# Based on known stage location I manually chose corresponding meteo stations 
# This is to be further tweaked for choosing more accurate (closer) meteo st. locations

weather_stages = pd.DataFrame()
for year in tour_years:
    # Stage 1
    st1_weather = weather_info[weather_info.date.isin(stages_summary.date) \
                    & (weather_info.year == year) \
                    & weather_info.station_name.str.contains('KRAK')].iloc[0] \
                    [['temp','rel_humid','wind_dir','wind_speed','clouds_ovrl','visibility']]
    # Stage 2
    st2_weather = weather_info[weather_info.date.isin(stages_summary.date) \
                    & (weather_info.year == year) \
                    & weather_info.station_name.str.contains('DRONI')].iloc[1] \
                    [['temp','rel_humid','wind_dir','wind_speed','clouds_ovrl','visibility']]
    # Stage 3
    st3_weather = weather_info[weather_info.date.isin(stages_summary.date) \
                    & (weather_info.year == year) \
                    & weather_info.station_name.str.contains('BRENNA')].iloc[2] \
                    [['temp','rel_humid','wind_dir','wind_speed','clouds_ovrl','visibility']]
    # Stage 4
    st4_weather = weather_info[weather_info.date.isin(stages_summary.date) \
                    & (weather_info.year == year) \
                    & weather_info.station_name.str.contains('DRONI')].iloc[3] \
                    [['temp','rel_humid','wind_dir','wind_speed','clouds_ovrl','visibility']]
    # Stage 5
    st5_weather = weather_info[weather_info.date.isin(stages_summary.date) \
                    & (weather_info.year == year) \
                    & weather_info.station_name.str.contains('CHORZ')].iloc[4] \
                    [['temp','rel_humid','wind_dir','wind_speed','clouds_ovrl','visibility']]
    # Stage 6
    st6_weather = weather_info[weather_info.date.isin(stages_summary.date) \
                    & (weather_info.year == year) \
                    & weather_info.station_name.str.contains('LIMA')].iloc[5] \
                    [['temp','rel_humid','wind_dir','wind_speed','clouds_ovrl','visibility']]
    # Stage 7
    st7_weather = weather_info[weather_info.date.isin(stages_summary.date) \
                    & (weather_info.year == year) \
                    & weather_info.station_name.str.contains('BUKOW')].iloc[6] \
                    [['temp','rel_humid','wind_dir','wind_speed','clouds_ovrl','visibility']]
    weather_stages = weather_stages.append([st1_weather, st2_weather, st3_weather, st4_weather,
                           st5_weather, st6_weather, st7_weather]).reset_index(drop=True)

In [33]:
# Chosen weather info for all tour stages summaries
weather_stages.head(8)

   temp  rel_humid wind_dir  wind_speed  clouds_ovrl  visibility
0  31.5         38      ESE           2            6           9
1  26.6         61       NW           4            5           7
2  22.5         65      SSE           1            4           6
3  22.7         52        N           3            4           8
4  25.5         66      ENE           2            1           8
5  21.4         73       NW           4            7           8
6  22.9          0      NaN           0            5           7
7  27.1         38      SSE           1            7           9

### Joining stages summary and weather info dataframes. The output is `stages_summary`

In [34]:
stages_summary = pd.concat([stages_summary, weather_stages], axis=1)
stages_summary.head(8)

,date,year,stage,stage_type,stage_type_code,dist,finish,temp,rel_humid,wind_dir,wind_speed,clouds_ovrl,visibility
0,2014-08-03,2014,1,flat,1,226.0,Bygdoszcz,31.5,38,ESE,2,6,9
1,2014-08-04,2014,2,flat,1,226.0,Warszawa,26.6,61,NW,4,5,7
2,2014-08-05,2014,3,flat,1,174.0,Rzeszów,22.5,65,SSE,1,4,6
3,2014-08-06,2014,4,flat,1,236.0,Katowice,22.7,52,N,3,4,8
4,2014-08-07,2014,5,hilly,2,190.0,Strbskie Pleso,25.5,66,ENE,2,1,8
5,2014-08-08,2014,6,hilly,2,174.0,Bukowina Tatrzanska,21.4,73,NW,4,7,8
6,2014-08-09,2014,7,itt,6,25.0,Krakow,22.9,0,NaN,0,5,7
7,2015-08-02,2015,1,flat,1,122.0,Warszawa,27.1,38,SSE,1,7,9

<br><br><br>
# Bikers statistics and overall description scraping
<br>

In [35]:
# Overall bikers list
biker_base_url = 'http://firstcycling.com/rider.php?r='

bikers_ranking_urls = []
for k,v in biker_dict_stage.items():
    bikers_ranking_urls.append(biker_base_url + v)
print('Number of all bikers:', len(bikers_ranking_urls))
# pd.DataFrame(bikers_ranking_urls)[0]

Number of all bikers: 513

### Scraping bikers stats

**(NOTICE: This operation takes around 16 minutes)**

In [36]:
STOP

NameError: name 'STOP' is not defined

In [65]:
bikers_stats_ = pd.DataFrame()
i = -1
for url_ in bikers_ranking_urls:

    # Stats scraping with the season-by-season separation
    r = requests.get(url_)
    table_ = pd.read_html(r.text)   
    # Settig 'Season' column as an index for dataframe transposition
    biker_rank = table_[0].loc[:4,:].set_index('Season')
    biker_rank.columns = ['div','team','fc_rank','to_drop','uci_rank','to_drop','race_days','wins','year_km']
    biker_rank.drop(['to_drop'], axis=1, inplace=True)
    # Dataframe transposition
    biker_rank = biker_rank.stack().to_frame().T
    # Renaming stacked column names
    biker_rank.columns = ['{}_{}'.format(*c) for c in biker_rank.columns]  
    # Removing duplicate rows
    biker_rank = biker_rank.loc[:,~biker_rank.columns.duplicated()]
    
    # Physical stats, nationality, won jerseys, all-time victories and followers number extraction
    soup = BeautifulSoup(r.text,'html.parser')
    stats = soup.find_all('div', class_='back')
    
    # Not all bikers have all data available
    nation = re.findall('nat=.*?>(\w.*?)<|$', str(stats))[0]
    try:
        height = re.findall('Height.*?(\d{1}\.\d{2})|$', str(stats))[0] 
    except (ValueError, IndexError):
        height = np.NaN
    try:
        wins_search = re.search('Victories.*?<h2', str(stats)).group() 
        total_wins = len(re.findall('\d{4}(,|\))', wins_search))
    except (AttributeError, ValueError, IndexError):
        total_wins = 0
    try:
        youth_search = re.search('Youth.*?<\/p', str(stats)).group()
        youth_jersey = len(re.findall('[( ,](\d{4})', youth_search))
    except (AttributeError, ValueError, IndexError):
        youth_jersey = 0
    try:
        point_search = re.search('Points.*?<\/p', str(stats)).group()
        point_jersey = len(re.findall('[( ,](\d{4})', point_search))
    except (AttributeError, ValueError, IndexError):
        point_jersey = 0
    try:
        mount_search = re.search('Mount.*?<\/p', str(stats)).group()
        mount_jersey = len(re.findall('[( ,](\d{4})', mount_search))
    except (AttributeError, ValueError, IndexError):
        mount_jersey = 0
    try:
        sprint_search = re.search('Sprint.*?<\/p', str(stats)).group()
        sprint_jersey = len(re.findall('[( ,](\d{4})', sprint_search))
    except (AttributeError, ValueError, IndexError):
        sprint_jersey = 0
    try:
        followers_soup = soup.find_all('p', class_='small')
        followers = len(re.findall('ID', str(followers_soup)))
    except (AttributeError, ValueError, IndexError):
        followers = 0
    
    # All separate information merged into one 'stats_table' dataframe
    results_dict = {
        'nation':nation,
        'height':height,
        'total_wins':total_wins,
        'youth_jerseys':youth_jersey,
        'point_jerseys':point_jersey,
        'mount_jerseys':mount_jersey,
        'sprint_jerseys':sprint_jersey,
        'followers':followers
    }
    stats_table = pd.DataFrame(data=results_dict, index=[0])
    
    # Merging dataframes
    biker_rank = pd.concat([biker_rank, stats_table], axis=1)
    i += 1
    print('Scraped biker no.', i, '/', len(bikers_ranking_urls),nation, height, total_wins, youth_jersey, point_jersey,
          mount_jersey, sprint_jersey, followers)
    bikers_stats_ = bikers_stats_.append(biker_rank, sort=False)

Scraped biker no. 0 / 513 Belarus 1.79 8 0 6 0 0 0
Scraped biker no. 1 / 513 Russia  0 0 2 0 0 2
Scraped biker no. 2 / 513 Italy 1.72 4 0 0 0 0 0
Scraped biker no. 3 / 513 Canada 1.80 4 0 1 0 0 3
Scraped biker no. 4 / 513 Austria 1.78 2 1 0 1 0 3
Scraped biker no. 5 / 513 Belgium 1.90 4 1 1 0 0 0
Scraped biker no. 6 / 513 Poland  9 0 1 0 0 2
Scraped biker no. 7 / 513 Denmark 1.75 6 0 0 0 2 0
Scraped biker no. 8 / 513 Italy 1.81 3 1 0 0 0 7
Scraped biker no. 9 / 513 Italy 1.74 8 1 1 0 0 2
Scraped biker no. 10 / 513 Poland  3 0 2 0 2 1
Scraped biker no. 11 / 513 Italy 1.70 7 0 0 0 0 6
Scraped biker no. 12 / 513 Italy 1.75 4 1 1 2 0 1
Scraped biker no. 13 / 513 Netherlands 1.90 12 0 2 0 0 1
Scraped biker no. 14 / 513 Russia  8 1 0 0 0 0
Scraped biker no. 15 / 513 Germany 1.80 2 0 0 0 0 0
Scraped biker no. 16 / 513 Costa Rica 1.80 1 0 0 0 0 5
Scraped biker no. 17 / 513 Poland 1.82 4 0 0 0 0 3
Scraped biker no. 18 / 513 France 1.74 5 0 0 1 0 2
Scraped biker no. 19 / 513 Poland  5 1 0 1 0 0
Scraped biker no. 20 / 513 Italy 1.81 7 0 1 3 0 0
Scraped biker no. 21 / 513 France 1.76 1 1 1 0 0 0
Scraped biker no. 22 / 513 Poland 1.84 5 1 2 11 0 1
Scraped biker no. 23 / 513 Poland 1.73 5 2 1 4 0 7
Scraped biker no. 24 / 513 Switzerland 1.70 0 0 0 0 0 1
Scraped biker no. 25 / 513 Poland  10 0 7 7 0 1
Scraped biker no. 26 / 513 Germany 1.78 3 0 0 0 0 1
Scraped biker no. 27 / 513 Netherlands 1.86 6 0 0 3 0 1
Scraped biker no. 28 / 513 France 1.83 3 3 2 4 0 5
Scraped biker no. 29 / 513 Italy 1.69 31 1 3 1 0 6
Scraped biker no. 30 / 513 Belgium 1.82 2 1 0 0 0 0
Scraped biker no. 31 / 513 Poland  9 0 0 4 1 4
Scraped biker no. 32 / 513 Netherlands 1.93 7 1 0 0 0 0
Scraped biker no. 33 / 513 Russia  7 1 0 0 0 1
Scraped biker no. 34 / 513 Poland  14 0 3 3 0 2
Scraped biker no. 35 / 513 Slovakia 1.81 15 1 0 0 0 0
Scraped biker no. 36 / 513 Slovakia 1.85 3 2 0 0 0 0
Scraped biker no. 37 / 513 Spain 1.73 4 1 0 0 0 7
Scraped biker no. 38 / 513 Colombia 1.71 0 1 0 0 0 3
Scraped biker no. 39 / 513 Colombia 1.68 2 0 0 1 0 0
Scraped biker no. 40 / 513 Netherlands 1.87 8 9 0 0 0 11
Scraped biker no. 41 / 513 Switzerland  0 0 0 0 0 4
Scraped biker no. 42 / 513 Belgium 1.81 3 4 0 0 0 1
Scraped biker no. 43 / 513 Italy 1.78 2 2 0 2 0 1
Scraped biker no. 44 / 513 Belgium 1.76 7 0 0 0 0 2
Scraped biker no. 45 / 513 Austria 1.89 5 0 0 4 0 2
Scraped biker no. 46 / 513 Netherlands 1.79 4 0 0 0 0 0
Scraped biker no. 47 / 513 Switzerland 1.87 1 0 0 0 0 1
Scraped biker no. 48 / 513 Belgium 1.83 0 0 0 1 0 0
Scraped biker no. 49 / 513 Poland  2 0 0 1 0 1
Scraped biker no. 50 / 513 Russia  13 0 1 2 0 1
Scraped biker no. 51 / 513 Spain 1.81 9 0 7 1 0 4
Scraped biker no. 52 / 513 Italy 1.73 12 0 0 0 0 2
Scraped biker no. 53 / 513 Portugal 1.74 1 0 0 1 0 0
Scraped biker no. 54 / 513 Russia 1.81 8 1 0 0 0 0
Scraped biker no. 55 / 513 Italy 1.83 2 0 1 1 0 1
Scraped biker no. 56 / 513 Lithuania 1.85 15 1 1 0 0 1
Scraped biker no. 57 / 513 Poland 1.78 0 0 0 0 0 1
Scraped biker no. 58 / 513 Germany 1.87 2 0 0 0 0 0
Scraped biker no. 59 / 513 Canada 1.88 3 0 0 1 0 6
Scraped biker no. 60 / 513 Poland  4 0 0 0 0 0
Scraped biker no. 61 / 513 Netherlands 1.77 3 0 2 0 0 2
Scraped biker no. 62 / 513 Poland  5 0 2 0 0 2
Scraped biker no. 63 / 513 Switzerland  1 0 0 0 0 1
Scraped biker no. 64 / 513 Belarus  13 0 0 0 0 0
Scraped biker no. 65 / 513 Spain 1.75 2 0 1 0 0 4
Scraped biker no. 66 / 513 Italy 1.82 9 1 2 2 0 3
Scraped biker no. 67 / 513 Belgium 1.78 1 0 0 1 0 3
Scraped biker no. 68 / 513 Australia 1.88 8 1 0 1 0 0
Scraped biker no. 69 / 513 Italy 1.80 24 0 6 0 0 2
Scraped biker no. 70 / 513 France 1.80 5 0 0 1 0 0
Scraped biker no. 71 / 513 Poland  8 0 2 0 0 0
Scraped biker no. 72 / 513 Germany 1.73 0 0 0 0 0 0
Scraped biker no. 73 / 513 Spain 1.75 2 0 1 0 0 4
Scraped biker no. 74 / 513 France 1.83 6 3 1 0 0 3
Scraped biker no. 75 / 513 Poland  2 0 0 0 0 0
Scraped biker no. 76 / 513 Austria 1.85 4 0 0 1 1 0
Scraped biker no. 77 / 513 France 1.73 5 0 0 2 0 0
Scraped biker no. 78 / 513 Czech Republic 1.79 8 4 1 0 0 5
Scraped biker no. 79 / 513 Poland  0 0 0 1 1 3
Scraped biker no. 80 / 513 Poland  9 0 0 1 0 0
Scraped biker no. 81 / 513 Russia  9 0 2 1 0 6
Scraped biker no. 82 / 513 France 1.85 4 0 0 0 1 0
Scraped biker no. 83 / 513 Netherlands 1.81 4 1 0 3 0 2
Scraped biker no. 84 / 513 Netherlands 1.86 4 3 3 1 0 7
Scraped biker no. 85 / 513 France  0 0 0 1 0 0
Scraped biker no. 86 / 513 Norway 1.81 31 6 18 1 1 52
Scraped biker no. 87 / 513 Italy 1.75 6 2 3 0 0 6
Scraped biker no. 88 / 513 Belgium 1.83 0 0 0 1 0 0
Scraped biker no. 89 / 513 Denmark 1.82 10 0 0 1 0 0
Scraped biker no. 90 / 513 Great Britain 1.90 7 0 0 0 0 3
Scraped biker no. 91 / 513 Poland  9 0 1 0 0 2
Scraped biker no. 92 / 513 Russia 1.77 6 0 1 2 0 0
Scraped biker no. 93 / 513 Spain 1.76 5 1 0 0 0 2
Scraped biker no. 94 / 513 Sweden 1.94 4 3 0 0 0 1
Scraped biker no. 95 / 513 Uzbekistan  9 0 2 0 1 0
Scraped biker no. 96 / 513 France 1.87 2 1 0 1 0 0
Scraped biker no. 97 / 513 Italy 1.76 3 0 0 0 0 1
Scraped biker no. 98 / 513 Russia  6 0 0 1 0 1
Scraped biker no. 99 / 513 Italy 1.80 24 0 6 0 0 2
Scraped biker no. 100 / 513 Norway 1.76 6 0 1 1 0 6
Scraped biker no. 101 / 513 Luxembourg 1.89 28 7 0 0 0 10
Scraped biker no. 102 / 513 Italy 1.75 4 1 1 2 0 1
Scraped biker no. 103 / 513 Kazakhstan 1.78 1 0 0 0 1 0
Scraped biker no. 104 / 513 USA 1.83 1 0 0 0 0 2
Scraped biker no. 105 / 513 Italy 1.82 12 1 0 0 0 1
Scraped biker no. 106 / 513 Brazil 1.71 11 0 1 0 0 0
Scraped biker no. 107 / 513 Belgium 1.79 8 1 1 11 4 4
Scraped biker no. 108 / 513 Russia 1.84 5 0 0 2 2 0
Scraped biker no. 109 / 513 Spain 1.73 3 0 1 0 0 5
Scraped biker no. 110 / 513 New Zealand 1.79 0 0 0 0 0 0
Scraped biker no. 111 / 513 Russia 1.80 6 0 1 1 0 0
Scraped biker no. 112 / 513 Russia  6 0 0 0 0 0
Scraped biker no. 113 / 513 Slovenia 1.83 7 1 2 0 0 3
Scraped biker no. 114 / 513 Canada 1.85 0 0 0 0 0 0
Scraped biker no. 115 / 513 Italy 1.74 1 0 0 0 0 1
Scraped biker no. 116 / 513 Germany 1.88 4 1 2 0 0 4
Scraped biker no. 117 / 513 Australia 1.80 0 0 0 0 1 1
Scraped biker no. 118 / 513 Germany 1.93 1 2 0 2 0 0
Scraped biker no. 119 / 513 Czech Republic  2 1 0 0 0 3
Scraped biker no. 120 / 513 Australia 1.80 7 0 1 0 0 2
Scraped biker no. 121 / 513 France 1.84 3 0 0 0 0 0
Scraped biker no. 122 / 513 Colombia 1.67 1 1 0 2 0 3
Scraped biker no. 123 / 513 Belarus 1.84 11 1 0 1 0 1
Scraped biker no. 124 / 513 Belarus 1.84 11 1 0 1 0 1
Scraped biker no. 125 / 513 Italy 1.82 4 0 1 0 0 0
Scraped biker no. 126 / 513 Russia 1.76 3 3 2 0 0 1
Scraped biker no. 127 / 513 Norway 1.83 26 2 16 0 1 23
Scraped biker no. 128 / 513 Spain 1.70 0 0 0 0 0 0
Scraped biker no. 129 / 513 Spain 1.70 0 0 0 0 0 0
Scraped biker no. 130 / 513 Italy 1.77 14 0 0 0 0 3
Scraped biker no. 131 / 513 Italy 1.77 14 0 0 0 0 3
Scraped biker no. 132 / 513 Italy 1.72 7 0 0 0 0 1
Scraped biker no. 133 / 513 Italy 1.89 14 0 0 0 0 0
Scraped biker no. 134 / 513 USA 1.83 11 1 8 0 0 0
Scraped biker no. 135 / 513 USA 1.83 11 1 8 0 0 0
Scraped biker no. 136 / 513 Australia 1.80 9 1 8 0 0 7
Scraped biker no. 137 / 513 France 1.95 3 0 0 1 0 0
Scraped biker no. 138 / 513 Netherlands 1.87 3 1 0 0 0 0
Scraped biker no. 139 / 513 Latvia 1.88 17 0 0 0 0 1
Scraped biker no. 140 / 513 Poland  7 0 0 0 1 1
Scraped biker no. 141 / 513 Japan 1.80 7 0 1 1 0 0
Scraped biker no. 142 / 513 Spain 1.73 3 0 1 0 0 5
Scraped biker no. 143 / 513 Brazil 1.71 11 0 1 0 0 0
Scraped biker no. 144 / 513 Russia 1.80 1 0 0 1 1 0
Scraped biker no. 145 / 513 France 1.80 1 2 1 0 0 0
Scraped biker no. 146 / 513 Italy 1.68 2 0 0 1 0 0
Scraped biker no. 147 / 513 France 1.83 2 2 0 2 0 1
Scraped biker no. 148 / 513 Italy 1.81 8 2 0 0 0 17
Scraped biker no. 149 / 513 Portugal 1.84 3 1 1 1 0 0
Scraped biker no. 150 / 513 Belgium 1.88 17 0 1 1 0 3
Scraped biker no. 151 / 513 France 1.80 9 2 0 1 0 3
Scraped biker no. 152 / 513 France 1.80 9 2 0 1 0 3
Scraped biker no. 153 / 513 Norway 1.87 2 0 1 0 0 3
Scraped biker no. 154 / 513 Italy 1.75 14 1 0 0 0 2
Scraped biker no. 155 / 513 Italy 1.75 14 1 0 0 0 2
Scraped biker no. 156 / 513 France 1.83 4 0 3 0 0 0
Scraped biker no. 157 / 513 Denmark 1.80 11 0 1 1 0 3
Scraped biker no. 158 / 513 France 1.84 3 0 0 0 0 0

Scraped biker no. 159 / 513 Great Britain 1.81 1 0 0 1 0 0
Scraped biker no. 160 / 513 USA 1.72 6 0 1 0 0 0
Scraped biker no. 161 / 513 Australia 1.80 5 0 0 1 0 0
Scraped biker no. 162 / 513 France 1.78 0 0 0 0 0 0
Scraped biker no. 163 / 513 Slovenia 1.77 7 3 0 0 0 1
Scraped biker no. 164 / 513 Italy 1.72 13 0 1 0 0 5
Scraped biker no. 165 / 513 Italy 1.72 13 0 1 0 0 5
Scraped biker no. 166 / 513 Germany 1.88 29 2 10 0 0 13
Scraped biker no. 167 / 513 Australia  17 1 5 0 0 9
Scraped biker no. 168 / 513 Netherlands  2 1 0 0 0 1
Scraped biker no. 169 / 513 France 1.79 1 0 0 0 0 0
Scraped biker no. 170 / 513 Belgium 1.80 10 0 1 0 0 2
Scraped biker no. 171 / 513 Italy 1.70 18 0 5 0 0 3
Scraped biker no. 172 / 513 France  1 0 0 0 0 1
Scraped biker no. 173 / 513 Poland 1.76 27 3 4 0 0 17
Scraped biker no. 174 / 513 Norway  8 1 0 0 0 6
Scraped biker no. 175 / 513 Italy 1.84 22 1 6 0 0 6
Scraped biker no. 176 / 513 Croatia 1.79 2 3 0 2 0 1
Scraped biker no. 177 / 513 Germany 1.89 6 0 2 0 2 1
Scraped biker no. 178 / 513 Belgium  6 0 2 2 0 5
Scraped biker no. 179 / 513 Kazakhstan 1.75 14 0 2 0 0 2
Scraped biker no. 180 / 513 Russia 1.73 3 1 0 0 0 0
Scraped biker no. 181 / 513 Belgium 1.88 6 1 0 0 0 5
Scraped biker no. 182 / 513 Spain  2 0 0 0 0 0
Scraped biker no. 183 / 513 Netherlands  5 0 0 1 1 2
Scraped biker no. 184 / 513 Italy  3 0 0 0 0 0
Scraped biker no. 185 / 513 Germany 1.84 5 0 0 0 0 1
Scraped biker no. 186 / 513 Netherlands 1.81 1 1 0 0 1 1
Scraped biker no. 187 / 513 France 1.81 6 3 0 0 1 2
Scraped biker no. 188 / 513 Slovenia 1.78 6 0 5 0 0 0
Scraped biker no. 189 / 513 Poland 1.80 2 0 0 2 1 3
Scraped biker no. 190 / 513 Italy 1.73 10 0 0 1 0 2
Scraped biker no. 191 / 513 Slovenia  10 1 5 0 0 1
Scraped biker no. 192 / 513 Spain  0 1 0 0 0 4
Scraped biker no. 193 / 513 Colombia 1.69 8 0 2 1 0 7
Scraped biker no. 194 / 513 Switzerland 1.83 12 3 1 1 0 7
Scraped biker no. 195 / 513 Poland 1.86 6 0 0 0 0 2
Scraped biker no. 196 / 513 Italy  3 1 0 3 0 3
Scraped biker no. 197 / 513 Poland 1.94 2 0 0 0 2 0
Scraped biker no. 198 / 513 Spain 1.79 0 0 0 2 0 0
Scraped biker no. 199 / 513 USA 1.78 3 2 0 1 0 2
Scraped biker no. 200 / 513 Netherlands 1.93 5 0 0 1 0 0
Scraped biker no. 201 / 513 Italy 1.75 25 6 1 1 0 7
Scraped biker no. 202 / 513 Slovenia 1.86 11 1 1 0 0 9
Scraped biker no. 203 / 513 Belarus 1.82 14 0 1 1 0 4
Scraped biker no. 204 / 513 Spain 1.77 0 0 0 1 0 4
Scraped biker no. 205 / 513 Denmark 1.72 1 1 0 0 0 3
Scraped biker no. 206 / 513 France 1.69 1 2 1 0 0 7
Scraped biker no. 207 / 513 Poland  2 0 0 3 0 0
Scraped biker no. 208 / 513 Poland  0 0 1 0 0 0
Scraped biker no. 209 / 513 Belgium 1.83 4 0 0 1 0 6
Scraped biker no. 210 / 513 Poland  6 0 0 0 1 0
Scraped biker no. 211 / 513 Spain 1.73 3 0 0 1 0 4
Scraped biker no. 212 / 513 Norway  6 0 0 0 0 3
Scraped biker no. 213 / 513 Belgium 1.81 3 4 0 0 0 1
Scraped biker no. 214 / 513 Spain 1.86 0 0 0 3 0 5
Scraped biker no. 215 / 513 Spain 1.86 0 0 0 3 0 5
Scraped biker no. 216 / 513 Great Britain 1.82 9 0 0 0 0 1
Scraped biker no. 217 / 513 Belgium  6 0 0 0 0 1
Scraped biker no. 218 / 513 Germany  5 1 0 0 1 0
Scraped biker no. 219 / 513 Russia 1.76 3 3 2 0 0 1
Scraped biker no. 220 / 513 Austria 1.77 22 0 5 1 0 1
Scraped biker no. 221 / 513 New Zealand 1.80 2 0 0 0 0 4
Scraped biker no. 222 / 513 New Zealand 1.80 2 0 0 0 0 4
Scraped biker no. 223 / 513 Austria  5 1 0 2 0 3
Scraped biker no. 224 / 513 Italy 1.68 2 0 0 1 0 0
Scraped biker no. 225 / 513 Switzerland  0 0 0 0 0 4
Scraped biker no. 226 / 513 Spain 1.80 7 0 3 0 0 1
Scraped biker no. 227 / 513 Italy 1.72 4 0 1 0 0 2
Scraped biker no. 228 / 513 Italy 1.80 7 0 1 0 0 6
Scraped biker no. 229 / 513 Switzerland  1 0 0 0 0 1
Scraped biker no. 230 / 513 Belgium  4 3 2 0 0 3
Scraped biker no. 231 / 513 Denmark 1.80 11 0 1 1 0 3
Scraped biker no. 232 / 513 USA 1.85 3 1 0 0 0 2
Scraped biker no. 233 / 513 USA 1.85 3 1 0 0 0 2
Scraped biker no. 234 / 513 Belgium 1.90 3 0 0 2 0 1
Scraped biker no. 235 / 513 Belgium 1.90 3 0 0 2 0 1
Scraped biker no. 236 / 513 Canada 1.72 1 0 0 1 2 0
Scraped biker no. 237 / 513 France  0 2 0 0 0 0
Scraped biker no. 238 / 513 France  0 2 0 0 0 0
Scraped biker no. 239 / 513 Australia 1.88 9 0 0 0 0 2
Scraped biker no. 240 / 513 Kazakhstan 1.78 1 0 0 0 1 0
Scraped biker no. 241 / 513 Belgium 1.77 7 1 4 0 0 1
Scraped biker no. 242 / 513 Belgium 1.80 8 0 0 0 0 0
Scraped biker no. 243 / 513 Czech Republic  2 1 0 0 0 3
Scraped biker no. 244 / 513 Italy  11 0 2 0 0 2
Scraped biker no. 245 / 513 France 1.78 5 1 0 0 0 1
Scraped biker no. 246 / 513 Latvia 1.88 17 0 0 0 0 1
Scraped biker no. 247 / 513 Netherlands 1.91 1 0 0 0 0 0
Scraped biker no. 248 / 513 Netherlands 1.91 1 0 0 0 0 0
Scraped biker no. 249 / 513 Italy 1.80 3 0 0 1 0 1
Scraped biker no. 250 / 513 Belgium 1.83 3 0 0 0 1 1
Scraped biker no. 251 / 513 Australia 1.75 3 2 0 1 0 4
Scraped biker no. 252 / 513 Italy 1.87 1 0 2 0 0 0
Scraped biker no. 253 / 513 Italy  17 0 1 0 0 3
Scraped biker no. 254 / 513 Colombia  5 0 5 0 0 15
Scraped biker no. 255 / 513 Czech Republic 1.83 45 0 2 0 0 4
Scraped biker no. 256 / 513 Netherlands 1.79 6 0 1 0 0 3
Scraped biker no. 257 / 513 Belgium 1.79 51 1 5 4 4 26
Scraped biker no. 258 / 513 France 1.86 0 0 0 0 0 1
Scraped biker no. 259 / 513 Belgium 1.83 14 1 1 2 1 11
Scraped biker no. 260 / 513 Belgium  1 6 2 0 0 11
Scraped biker no. 261 / 513 Spain  1 0 0 0 0 4
Scraped biker no. 262 / 513 Algeria  9 0 3 0 0 1
Scraped biker no. 263 / 513 Netherlands  6 0 0 0 0 1
Scraped biker no. 264 / 513 Czech Republic  5 1 0 0 0 4
Scraped biker no. 265 / 513 Kazakhstan 1.78 2 0 1 1 0 0
Scraped biker no. 266 / 513 Italy  17 0 2 0 0 1
Scraped biker no. 267 / 513 Slovakia 1.73 1 0 0 0 0 1
Scraped biker no. 268 / 513 Great Britain  6 0 0 0 0 0
Scraped biker no. 269 / 513 Belgium 1.85 7 1 1 0 1 3
Scraped biker no. 270 / 513 Belgium  1 1 2 0 0 3
Scraped biker no. 271 / 513 Australia  3 3 6 0 1 5
Scraped biker no. 272 / 513 Colombia  1 1 1 0 0 5
Scraped biker no. 273 / 513 Spain  2 0 1 3 0 3
Scraped biker no. 274 / 513 Belgium 1.86 0 1 0 1 0 1
Scraped biker no. 275 / 513 Netherlands 1.80 2 1 0 0 0 0
Scraped biker no. 276 / 513 Australia  1 4 1 0 0 3
Scraped biker no. 277 / 513 Colombia 1.67 1 0 0 0 0 4
Scraped biker no. 278 / 513 New Zealand  3 2 1 0 0 2
Scraped biker no. 279 / 513 Netherlands  0 0 0 2 0 2
Scraped biker no. 280 / 513 Belgium  8 1 0 0 0 4
Scraped biker no. 281 / 513 Poland  3 0 0 0 0 1
Scraped biker no. 282 / 513 Italy 1.81 3 0 0 2 0 1
Scraped biker no. 283 / 513 Germany  3 0 1 0 0 3
Scraped biker no. 284 / 513 Slovenia 1.76 11 3 0 0 2 4
Scraped biker no. 285 / 513 Italy  0 0 0 0 0 2
Scraped biker no. 286 / 513 Great Britain 1.72 3 5 0 1 0 6
Scraped biker no. 287 / 513 Russia  3 0 2 1 0 0
Scraped biker no. 288 / 513 Poland  0 0 0 0 0 0
Scraped biker no. 289 / 513 Belgium  2 1 0 1 0 5
Scraped biker no. 290 / 513 Latvia  16 0 0 0 0 1
Scraped biker no. 291 / 513 Portugal 1.68 0 0 0 2 0 0
Scraped biker no. 292 / 513 Netherlands 1.85 1 0 1 0 0 0
Scraped biker no. 293 / 513 Poland  3 0 0 0 0 0
Scraped biker no. 294 / 513 France 1.85 1 0 0 0 1 0
Scraped biker no. 295 / 513 Ireland 1.78 5 0 1 0 0 5
Scraped biker no. 296 / 513 Latvia  6 1 1 1 0 2
Scraped biker no. 297 / 513 Russia 1.78 9 2 3 1 0 1
Scraped biker no. 298 / 513 South Africa  3 1 0 0 0 0
Scraped biker no. 299 / 513 Czech Republic  2 0 0 1 0 0
Scraped biker no. 300 / 513 Poland  5 0 0 0 0 4
Scraped biker no. 301 / 513 Spain  5 0 1 1 0 2
Scraped biker no. 302 / 513 Austria  2 0 0 1 0 3
Scraped biker no. 303 / 513 Great Britain 1.73 10 0 1 0 0 4
Scraped biker no. 304 / 513 Russia  0 0 2 2 0 0
Scraped biker no. 305 / 513 France 1.72 4 0 0 0 0 1
Scraped biker no. 306 / 513 France  2 1 0 1 0 0
Scraped biker no. 307 / 513 France 1.77 3 0 0 0 0 0
Scraped biker no. 308 / 513 Russia 1.74 8 1 0 1 0 0
Scraped biker no. 309 / 513 Colombia 1.73 4 1 0 0 0 5
Scraped biker no. 310 / 513 Spain  2 0 0 0 0 0
Scraped biker no. 311 / 513 Italy  1 2 0 1 0 1
Scraped biker no. 312 / 513 Canada  2 0 0 0 0 6
Scraped biker no. 313 / 513 Russia 1.87 4 0 0 1 0 0
Scraped biker no. 314 / 513 Russia 1.69 6 0 0 0 0 0
Scraped biker no. 315 / 513 Slovenia  8 0 1 2 0 13
Scraped biker no. 316 / 513 Spain 1.71 5 0 1 0 1 2

Scraped biker no. 317 / 513 Italy 1.75 28 0 2 1 0 2
Scraped biker no. 318 / 513 Germany  4 0 1 1 0 2
Scraped biker no. 319 / 513 New Zealand  3 1 0 1 0 0
Scraped biker no. 320 / 513 USA  1 0 0 0 0 1
Scraped biker no. 321 / 513 Spain 1.79 1 0 0 1 0 2
Scraped biker no. 322 / 513 Great Britain  1 0 0 0 0 0
Scraped biker no. 323 / 513 Poland  6 0 1 2 0 1
Scraped biker no. 324 / 513 Spain  0 0 0 0 0 0
Scraped biker no. 325 / 513 Portugal 1.72 1 0 0 1 2 2
Scraped biker no. 326 / 513 Belgium 1.82 22 0 0 1 0 3
Scraped biker no. 327 / 513 Lithuania  6 1 0 1 0 2
Scraped biker no. 328 / 513 France  0 0 0 0 0 0
Scraped biker no. 329 / 513 Italy  20 0 0 0 0 2
Scraped biker no. 330 / 513 Italy 1.84 12 0 12 0 0 2
Scraped biker no. 331 / 513 Poland  8 0 0 0 0 0
Scraped biker no. 332 / 513 Poland  6 1 0 1 1 0
Scraped biker no. 333 / 513 Great Britain  2 0 0 1 2 0
Scraped biker no. 334 / 513 Poland  0 0 0 0 0 0
Scraped biker no. 335 / 513 Poland  2 0 0 0 0 1
Scraped biker no. 336 / 513 Ireland  5 0 0 1 0 1
Scraped biker no. 337 / 513 Italy  7 0 0 0 0 0
Scraped biker no. 338 / 513 Germany  0 2 1 0 0 0
Scraped biker no. 339 / 513 Spain  1 1 0 4 1 3
Scraped biker no. 340 / 513 Rwanda  3 0 0 0 0 0
Scraped biker no. 341 / 513 Ireland  0 0 0 0 0 0
Scraped biker no. 342 / 513 South Africa  0 0 0 0 0 1
Scraped biker no. 343 / 513 Switzerland  0 0 0 0 0 0
Scraped biker no. 344 / 513 Russia  0 1 0 1 0 1
Scraped biker no. 345 / 513 France  5 2 0 0 0 0
Scraped biker no. 346 / 513 Italy 1.70 1 0 0 0 0 1
Scraped biker no. 347 / 513 Italy  0 0 0 0 0 0
Scraped biker no. 348 / 513 Italy  6 0 0 0 0 4
Scraped biker no. 349 / 513 France 1.76 5 0 0 1 0 0
Scraped biker no. 350 / 513 Australia 1.77 8 0 4 0 1 4
Scraped biker no. 351 / 513 Italy 1.85 6 0 0 0 1 0
Scraped biker no. 352 / 513 Italy  8 0 0 0 1 0
Scraped biker no. 353 / 513 Italy  7 0 0 0 0 1
Scraped biker no. 354 / 513 Italy  5 0 0 1 1 0
Scraped biker no. 355 / 513 Netherlands  0 0 0 0 0 0
Scraped biker no. 356 / 513 Australia  0 0 0 0 0 0
Scraped biker no. 357 / 513 Italy  16 0 0 0 0 1
Scraped biker no. 358 / 513 Belgium  3 0 0 0 1 2
Scraped biker no. 359 / 513 Portugal  0 0 0 0 0 0
Scraped biker no. 360 / 513 Italy  22 1 0 0 0 3
Scraped biker no. 361 / 513 Netherlands 1.85 2 1 0 0 0 0
Scraped biker no. 362 / 513 Kazakhstan  1 1 0 2 0 2
Scraped biker no. 363 / 513 Belgium  3 1 1 0 1 5
Scraped biker no. 364 / 513 Switzerland 1.76 1 0 1 0 0 1
Scraped biker no. 365 / 513 France 1.89 1 0 0 0 0 3
Scraped biker no. 366 / 513 Italy 1.78 24 1 8 0 0 9
Scraped biker no. 367 / 513 Estonia  6 3 0 1 0 5
Scraped biker no. 368 / 513 Poland  7 0 0 0 0 0
Scraped biker no. 369 / 513 Russia  2 1 2 0 0 2
Scraped biker no. 370 / 513 Canada 1.80 21 0 0 0 0 1
Scraped biker no. 371 / 513 France  0 0 0 0 0 0
Scraped biker no. 372 / 513 Slovakia 1.84 33 5 36 0 0 43
Scraped biker no. 373 / 513 Netherlands 1.84 3 0 3 0 1 6
Scraped biker no. 374 / 513 Italy  17 0 0 0 0 3
Scraped biker no. 375 / 513 Australia 1.78 4 1 1 2 1 5
Scraped biker no. 376 / 513 Belgium 1.83 10 1 2 0 0 3
Scraped biker no. 377 / 513 Poland  5 1 2 0 0 7
Scraped biker no. 378 / 513 Norway  5 2 3 0 0 13
Scraped biker no. 379 / 513 Russia 1.69 4 0 1 0 0 2
Scraped biker no. 380 / 513 Portugal  5 1 0 1 0 5
Scraped biker no. 381 / 513 Russia 1.85 2 0 1 0 0 1
Scraped biker no. 382 / 513 Portugal 1.80 6 0 0 1 0 8
Scraped biker no. 383 / 513 Spain  14 3 0 1 0 6
Scraped biker no. 384 / 513 Netherlands  6 5 1 2 0 12
Scraped biker no. 385 / 513 Spain 1.77 4 2 3 1 0 4
Scraped biker no. 386 / 513 Portugal 1.83 14 2 2 1 0 9
Scraped biker no. 387 / 513 Colombia 1.79 4 0 0 0 0 3
Scraped biker no. 388 / 513 France  6 1 0 0 0 3
Scraped biker no. 389 / 513 USA 1.86 6 7 1 0 0 5
Scraped biker no. 390 / 513 Austria  8 1 2 0 0 5
Scraped biker no. 391 / 513 Netherlands 1.81 9 11 1 0 0 9
Scraped biker no. 392 / 513 Australia  1 1 0 0 0 2
Scraped biker no. 393 / 513 Denmark 1.81 6 3 7 0 0 2
Scraped biker no. 394 / 513 Belgium  0 0 0 0 0 2
Scraped biker no. 395 / 513 Czech Republic  3 6 0 0 0 6
Scraped biker no. 396 / 513 Netherlands  1 0 0 2 0 2
Scraped biker no. 397 / 513 Netherlands 1.88 0 4 0 0 0 0
Scraped biker no. 398 / 513 Russia 1.84 4 0 1 0 0 0
Scraped biker no. 399 / 513 Italy 1.81 31 2 4 1 0 27
Scraped biker no. 400 / 513 Spain 1.80 0 0 0 0 0 1
Scraped biker no. 401 / 513 Slovenia 1.83 3 0 2 0 0 0
Scraped biker no. 402 / 513 Great Britain 1.73 4 2 0 0 0 7
Scraped biker no. 403 / 513 USA 1.85 2 4 0 0 0 2
Scraped biker no. 404 / 513 Netherlands 1.69 3 2 0 1 0 4
Scraped biker no. 405 / 513 Germany  2 1 0 0 0 7
Scraped biker no. 406 / 513 Australia  6 2 0 0 0 6
Scraped biker no. 407 / 513 Italy 1.65 2 0 1 2 0 8
Scraped biker no. 408 / 513 Norway  3 2 0 0 0 12
Scraped biker no. 409 / 513 Eritrea  11 1 0 0 1 1
Scraped biker no. 410 / 513 France  0 0 0 1 0 0
Scraped biker no. 411 / 513 Australia 1.82 15 5 1 2 0 3
Scraped biker no. 412 / 513 Czech Republic  4 1 2 1 0 0
Scraped biker no. 413 / 513 Netherlands 1.90 25 1 0 1 0 4
Scraped biker no. 414 / 513 Finland  0 0 0 0 0 1
Scraped biker no. 415 / 513 France  2 1 0 0 1 0
Scraped biker no. 416 / 513 Germany  9 1 0 0 0 6
Scraped biker no. 417 / 513 Italy 1.73 6 0 0 1 0 0
Scraped biker no. 418 / 513 Kazakhstan 1.82 0 0 0 0 0 0
Scraped biker no. 419 / 513 USA 1.90 1 0 0 0 0 0
Scraped biker no. 420 / 513 Slovenia  1 6 0 1 0 1
Scraped biker no. 421 / 513 Italy  0 0 0 0 0 0
Scraped biker no. 422 / 513 France 1.74 1 0 0 1 0 1
Scraped biker no. 423 / 513 Spain 1.90 9 0 0 0 0 1
Scraped biker no. 424 / 513 Italy  6 0 3 1 0 7
Scraped biker no. 425 / 513 Poland  0 1 0 1 0 0
Scraped biker no. 426 / 513 Austria  1 1 0 1 1 4
Scraped biker no. 427 / 513 Slovenia  11 0 4 1 2 4
Scraped biker no. 428 / 513 USA  3 1 1 1 0 2
Scraped biker no. 429 / 513 Russia  5 0 1 0 1 0
Scraped biker no. 430 / 513 South Africa  0 0 0 0 0 1
Scraped biker no. 431 / 513 Italy 1.90 9 2 0 2 0 3
Scraped biker no. 432 / 513 Italy  1 0 0 1 1 1
Scraped biker no. 433 / 513 Belgium  11 1 0 0 1 0
Scraped biker no. 434 / 513 Slovakia  8 0 1 0 0 3
Scraped biker no. 435 / 513 Norway  2 0 3 0 0 4
Scraped biker no. 436 / 513 Morocco  5 4 0 0 0 1
Scraped biker no. 437 / 513 Portugal  6 2 0 0 0 8
Scraped biker no. 438 / 513 Germany  9 1 0 0 1 7
Scraped biker no. 439 / 513 Colombia  2 0 0 0 2 12
Scraped biker no. 440 / 513 Italy 1.79 10 0 3 0 0 3
Scraped biker no. 441 / 513 Netherlands  13 1 0 0 0 3
Scraped biker no. 442 / 513 Italy  18 1 1 0 0 6
Scraped biker no. 443 / 513 France  41 1 3 0 0 5
Scraped biker no. 444 / 513 France 1.75 18 1 10 0 0 2
Scraped biker no. 445 / 513 Belgium 1.85 7 2 7 1 1 5
Scraped biker no. 446 / 513 Belgium  4 0 0 0 1 2
Scraped biker no. 447 / 513 Spain  1 0 0 0 0 6
Scraped biker no. 448 / 513 Ecuador  6 2 0 3 0 6
Scraped biker no. 449 / 513 Italy 1.87 0 0 0 0 0 0
Scraped biker no. 450 / 513 Kazakhstan  1 1 0 0 0 0
Scraped biker no. 451 / 513 Spain  5 0 0 0 0 1
Scraped biker no. 452 / 513 Belgium 1.77 9 0 1 0 1 5
Scraped biker no. 453 / 513 France 1.85 0 0 0 0 0 1
Scraped biker no. 454 / 513 France 1.80 1 0 0 0 0 0
Scraped biker no. 455 / 513 Belgium  5 4 3 5 0 14
Scraped biker no. 456 / 513 France  2 0 2 0 0 2
Scraped biker no. 457 / 513 Portugal  0 0 0 0 0 1
Scraped biker no. 458 / 513 Germany  1 2 0 0 0 4
Scraped biker no. 459 / 513 Spain  0 0 0 2 1 1
Scraped biker no. 460 / 513 Kazakhstan  1 3 0 0 0 3
Scraped biker no. 461 / 513 Canada  2 0 0 1 0 0
Scraped biker no. 462 / 513 Russia  8 6 1 2 0 12
Scraped biker no. 463 / 513 Spain  3 0 0 0 0 0
Scraped biker no. 464 / 513 Spain 1.77 2 0 0 1 0 1
Scraped biker no. 465 / 513 Belgium  0 0 0 0 0 7
Scraped biker no. 466 / 513 Eritrea  21 0 0 2 0 3
Scraped biker no. 467 / 513 Belgium 1.77 4 0 0 0 0 2
Scraped biker no. 468 / 513 Czech Republic 1.83 11 4 0 1 0 10
Scraped biker no. 469 / 513 Ukraine  7 2 0 2 0 12
Scraped biker no. 470 / 513 Russia  2 1 0 0 0 0
Scraped biker no. 471 / 513 Colombia  3 0 0 2 0 5
Scraped biker no. 472 / 513 Denmark 1.83 3 0 0 0 0 1
Scraped biker no. 473 / 513 France 1.80 9 8 2 3 0 11
Scraped biker no. 474 / 513 France  10 0 0 0 0 1
Scraped biker no. 475 / 513 Spain  5 0 0 0 0 1
Scraped biker no. 476 / 513 Great Britain 1.89 7 0 0 0 0 2
Scraped biker no. 477 / 513 Poland  0 0 0 0 0 0
Scraped biker no. 478 / 513 Switzerland  0 0 0 0 0 1

Scraped biker no. 479 / 513 Kazakhstan  2 0 0 1 0 0
Scraped biker no. 480 / 513 Poland  0 0 0 2 0 0
Scraped biker no. 481 / 513 Great Britain  5 1 0 0 0 1
Scraped biker no. 482 / 513 Luxembourg 1.90 3 0 0 1 0 2
Scraped biker no. 483 / 513 Spain 1.73 5 0 5 0 0 4
Scraped biker no. 484 / 513 Denmark 1.90 8 0 0 0 0 1
Scraped biker no. 485 / 513 Belgium  3 1 0 1 0 10
Scraped biker no. 486 / 513 Italy  5 1 0 0 0 4
Scraped biker no. 487 / 513 France 1.85 3 0 0 0 0 0
Scraped biker no. 488 / 513 Argentina  3 1 0 1 0 5
Scraped biker no. 489 / 513 Russia  2 0 0 0 0 1
Scraped biker no. 490 / 513 Australia 1.80 4 4 0 0 0 3
Scraped biker no. 491 / 513 South Africa  0 0 0 0 0 0
Scraped biker no. 492 / 513 Belgium  0 1 0 0 1 4
Scraped biker no. 493 / 513 Australia  7 0 1 0 0 7
Scraped biker no. 494 / 513 Belgium  2 0 0 0 1 2
Scraped biker no. 495 / 513 France  1 1 0 0 0 0
Scraped biker no. 496 / 513 Great Britain  1 1 0 0 0 1
Scraped biker no. 497 / 513 Switzerland 1.72 10 0 2 2 2 3
Scraped biker no. 498 / 513 France  5 0 0 2 0 0
Scraped biker no. 499 / 513 France  4 1 0 0 0 1
Scraped biker no. 500 / 513 Germany 1.84 29 0 23 0 1 6
Scraped biker no. 501 / 513 Russia  1 1 1 2 0 2
Scraped biker no. 502 / 513 Australia  3 0 0 0 0 2
Scraped biker no. 503 / 513 Netherlands 1.91 37 5 2 0 1 1
Scraped biker no. 504 / 513 Germany  0 0 0 0 0 1
Scraped biker no. 505 / 513 Netherlands  1 1 0 0 0 2
Scraped biker no. 506 / 513 Austria 1.83 5 0 2 1 0 1
Scraped biker no. 507 / 513 USA  5 0 0 0 0 4
Scraped biker no. 508 / 513 New Zealand  0 0 0 0 0 3
Scraped biker no. 509 / 513 Germany  2 0 0 0 0 3
Scraped biker no. 510 / 513 Great Britain  8 0 1 0 0 4
Scraped biker no. 511 / 513 Colombia  1 0 0 0 0 3
Scraped biker no. 512 / 513 Sweden  2 0 0 0 0 0

In [66]:
# Alphabetically column sorting
bikers_stats_.sort_index(axis=1, inplace=True)

# Assigning biker names from dictionary to the scraped data
bikers_stats_['name'] = [k for k,v in biker_dict_stage.items()][:len(bikers_stats_)]

# Resetting index for further dataframe concatenation
bikers_stats_.reset_index(drop=True, inplace=True)

# Replacing missed height values
bikers_stats_['height'].replace('', np.NaN, inplace=True)

### Merging data into `bikers_stats`

**Choosing only years of 2015 - 2018 due to much missing data in earlier years**

In [67]:
# From the whole scraped historical results dataset (2013-2019) choosing only years 2015-2018 due to many missing values before that timepoint
bikers_stats = pd.concat([bikers_stats_.loc[:,'2015_div':'2018_year_km'], bikers_stats_.iloc[:,-9:]], axis=1)
bikers_stats.head(3)

,2015_div,2015_fc_rank,2015_race_days,2015_team,2015_uci_rank,2015_wins,2015_year_km,2016_div,2016_fc_rank,2016_race_days,...,2018_year_km,followers,height,mount_jerseys,nation,point_jerseys,sprint_jerseys,total_wins,youth_jerseys,name
0,PROF,115,70,Bretagne - Séché Environnement,-,3,11430.9,PROF,430,59,...,NaN,0,1.79,0,Belarus,6,0,8,0,Y.Hutarovich
1,PROF,301,54,RusVelo,-,1,8473.1,PROF,161,63,...,7349.7,2,NaN,0,Russia,2,0,0,0,R.Maikin
2,PRT,640,73,Lampre - Merida,-,0,11960.4,PRT,375,70,...,9924.4,0,1.72,0,Italy,0,0,4,0,M.Mori

### Setting final biker class dataframe. The output is `biker_class`

In [68]:
biker_by_stage.columns

Index(['name', 'biker_sys_nr', 'age', 'team', 'team_sys_nr', 'time_in_s', 'gc',
       'gc_time_in_s', 'year', 'stage', 'position', 'n_tours', 'n_stages',
       'avg_year', 'best_pos_ovr', 'avg_pos_ovr', 'worst_pos_ovr',
       'best_time_ovr', 'avg_time_ovr', 'worst_time_ovr', 'best_gc_ovr',
       'avg_gc_ovr', 'worst_gc_ovr', 'best_gc_time_ovr', 'avg_gc_time_ovr',
       'worst_gc_time_ovr', 'n_top10_ovr', 'n_win_ovr', 'best_pos_ovr_l3',
       'avg_pos_ovr_l3', 'worst_pos_ovr_l3', 'best_time_ovr_l3',
       'avg_time_ovr_l3', 'worst_time_ovr_l3', 'best_gc_ovr_l3',
       'avg_gc_ovr_l3', 'worst_gc_ovr_l3', 'best_gc_time_ovr_l3',
       'avg_gc_time_ovr_l3', 'worst_gc_time_ovr_l3', 'n_top10_l3', 'n_win_l3',
       'perc_top10_ovr', 'perc_win_ovr'],
      dtype='object')

In [69]:
bikers_stats.columns

Index(['2015_div', '2015_fc_rank', '2015_race_days', '2015_team',
       '2015_uci_rank', '2015_wins', '2015_year_km', '2016_div',
       '2016_fc_rank', '2016_race_days', '2016_team', '2016_uci_rank',
       '2016_wins', '2016_year_km', '2017_div', '2017_fc_rank',
       '2017_race_days', '2017_team', '2017_uci_rank', '2017_wins',
       '2017_year_km', '2018_div', '2018_fc_rank', '2018_race_days',
       '2018_team', '2018_uci_rank', '2018_wins', '2018_year_km', 'followers',
       'height', 'mount_jerseys', 'nation', 'point_jerseys', 'sprint_jerseys',
       'total_wins', 'youth_jerseys', 'name'],
      dtype='object')

In [70]:
# Creating biker class dataset using all-stage biker data and counted statistics
biker_class = pd.merge(biker_by_stage, bikers_stats, left_on='name', right_on='name')
biker_class.head()

,name,biker_sys_nr,age,team,team_sys_nr,time_in_s,gc,gc_time_in_s,year,stage,...,2018_wins,2018_year_km,followers,height,mount_jerseys,nation,point_jerseys,sprint_jerseys,total_wins,youth_jerseys
0,Y.Hutarovich,100,31,AG2R La Mondiale,10072,20870.0,1,20860.0,2014,1,...,NaN,NaN,0,1.79,0,Belarus,6,0,8,0
1,Y.Hutarovich,100,31,AG2R La Mondiale,10072,19455.0,2,40315.0,2014,2,...,NaN,NaN,0,1.79,0,Belarus,6,0,8,0
2,Y.Hutarovich,100,31,AG2R La Mondiale,10072,13167.0,2,53482.0,2014,3,...,NaN,NaN,0,1.79,0,Belarus,6,0,8,0
3,Y.Hutarovich,100,31,AG2R La Mondiale,10072,20609.0,3,74091.0,2014,4,...,NaN,NaN,0,1.79,0,Belarus,6,0,8,0
4,Y.Hutarovich,100,31,AG2R La Mondiale,10072,17350.0,98,91441.0,2014,5,...,NaN,NaN,0,1.79,0,Belarus,6,0,8,0

In [71]:
# Rearranging columns for clearness
cols = biker_class.columns.tolist()
cols = cols[-8:] + cols[:-8]
biker_class = biker_class[cols]
biker_class = biker_class.reindex(columns=[
    'name', 'nation','age','height','team','year','stage','position','time_in_s','gc','gc_time_in_s',
    'mount_jerseys','point_jerseys','sprint_jerseys','youth_jerseys','followers','total_wins',
    'biker_sys_nr','team_sys_nr']+cols[19:])

### Adding `stages_summary` information

In [72]:
biker_class = biker_class.merge(stages_summary,on=['year','stage'], how='inner')

### Defining `y_label` (dependend variable)

In [73]:
# Defining the label (dependent variable)
# 1 means being in Top 10 position at the given stage, 0 means being out of Top 10
biker_class['y_label'] = np.where(biker_class['position'] <= 10, 1, 0)

<br><br><br>
# Saving dataframes

### Overall stages summary: `stages_summary`

In [74]:
stages_summary.to_csv('preprocessed/pre_stages_summary.csv', index=False)
stages_summary.head()

,date,year,stage,stage_type,stage_type_code,dist,finish,temp,rel_humid,wind_dir,wind_speed,clouds_ovrl,visibility
0,2014-08-03,2014,1,flat,1,226.0,Bygdoszcz,31.5,38,ESE,2,6,9
1,2014-08-04,2014,2,flat,1,226.0,Warszawa,26.6,61,NW,4,5,7
2,2014-08-05,2014,3,flat,1,174.0,Rzeszów,22.5,65,SSE,1,4,6
3,2014-08-06,2014,4,flat,1,236.0,Katowice,22.7,52,N,3,4,8
4,2014-08-07,2014,5,hilly,2,190.0,Strbskie Pleso,25.5,66,ENE,2,1,8

### Tour results by stages: `stages`

In [75]:
stages.to_csv('preprocessed/pre_stages.csv', index=False)
stages.head(2)

,name,biker_sys_nr,age,team,team_sys_nr,time_in_s,gc,gc_time_in_s,year,stage,position
0,Y.Hutarovich,100,31,AG2R La Mondiale,10072,20870.0,1,20860.0,2014,1,1
1,R.Maikin,14004,24,RusVelo,3482,20870.0,2,20864.0,2014,1,2

### Biker by stage results: `biker_by_stage`

In [76]:
biker_by_stage.to_csv('preprocessed/pre_biker_by_stage.csv')
biker_by_stage.head(2)

,name,biker_sys_nr,age,team,team_sys_nr,time_in_s,gc,gc_time_in_s,year,stage,...,best_gc_ovr_l3,avg_gc_ovr_l3,worst_gc_ovr_l3,best_gc_time_ovr_l3,avg_gc_time_ovr_l3,worst_gc_time_ovr_l3,n_top10_l3,n_win_l3,perc_top10_ovr,perc_win_ovr
0,Y.Hutarovich,100,31,AG2R La Mondiale,10072,20870.0,1,20860.0,2014,1,...,98,109.0,117,91441.0,104600.666667,112168.0,0.0,0.0,0.571429,0.142857
1,Y.Hutarovich,100,31,AG2R La Mondiale,10072,19455.0,2,40315.0,2014,2,...,98,109.0,117,91441.0,104600.666667,112168.0,0.0,0.0,0.571429,0.142857

### Historical bikers data: `biker_stats`

In [77]:
bikers_stats.to_csv('preprocessed/pre_biker_stats.csv')
bikers_stats.head(2)

,2015_div,2015_fc_rank,2015_race_days,2015_team,2015_uci_rank,2015_wins,2015_year_km,2016_div,2016_fc_rank,2016_race_days,...,2018_year_km,followers,height,mount_jerseys,nation,point_jerseys,sprint_jerseys,total_wins,youth_jerseys,name
0,PROF,115,70,Bretagne - Séché Environnement,-,3,11430.9,PROF,430,59,...,NaN,0,1.79,0,Belarus,6,0,8,0,Y.Hutarovich
1,PROF,301,54,RusVelo,-,1,8473.1,PROF,161,63,...,7349.7,2,NaN,0,Russia,2,0,0,0,R.Maikin

### Final biker class dataframe: `biker_class`

In [78]:
biker_class.to_csv('preprocessed/pre_biker_class.csv')
biker_class.head(2)

,name,nation,age,height,team,year,stage,position,time_in_s,gc,...,stage_type_code,dist,finish,temp,rel_humid,wind_dir,wind_speed,clouds_ovrl,visibility,y_label
0,Y.Hutarovich,Belarus,31,1.79,AG2R La Mondiale,2014,1,1,20870.0,1,...,1,226.0,Bygdoszcz,31.5,38,ESE,2,6,9,1
1,R.Maikin,Russia,24,NaN,RusVelo,2014,1,2,20870.0,2,...,1,226.0,Bygdoszcz,31.5,38,ESE,2,6,9,1

<br><br><br>
# Cleaning data

**Next notebook:** [Part 2: Data statistics and visualization](tdp_2_3_data_statistics_visualization.ipynb)

In [255]:
biker_class = pd.read_csv('preprocessed/pre_biker_class.csv', index_col=0)
biker_class.shape

(5255, 92)

## Removing columns with many missing values

In [256]:
# Removing columns with many missing values and information not needed
biker_class.drop(['height','biker_sys_nr','team_sys_nr','stage_type'], axis=1, inplace=True)
biker_class.shape

(5255, 88)

## Fixing data types & further low-information columns removal

In [257]:
# biker_class.dtypes

In [258]:
# Wrong-type columns
biker_class.loc[:,'2015_div':'2018_year_km'].dtypes

2015_div           object
2015_fc_rank       object
2015_race_days    float64
2015_team          object
2015_uci_rank      object
2015_wins         float64
2015_year_km      float64
2016_div           object
2016_fc_rank       object
2016_race_days    float64
2016_team          object
2016_uci_rank      object
2016_wins         float64
2016_year_km      float64
2017_div           object
2017_fc_rank       object
2017_race_days    float64
2017_team          object
2017_uci_rank      object
2017_wins         float64
2017_year_km      float64
2018_div           object
2018_fc_rank       object
2018_race_days    float64
2018_team          object
2018_uci_rank      object
2018_wins         float64
2018_year_km      float64
dtype: object

In [259]:
# Looking closer at the content we see there are many values as '-'
biker_class.loc[:,'2015_div':'2018_year_km'].head()

,2015_div,2015_fc_rank,2015_race_days,2015_team,2015_uci_rank,2015_wins,2015_year_km,2016_div,2016_fc_rank,2016_race_days,...,2017_uci_rank,2017_wins,2017_year_km,2018_div,2018_fc_rank,2018_race_days,2018_team,2018_uci_rank,2018_wins,2018_year_km
0,PROF,115.0,70.0,Bretagne - Séché Environnement,-,3.0,11430.9,PROF,430.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PROF,301.0,54.0,RusVelo,-,1.0,8473.1,PROF,161.0,63.0,...,-,0.0,8936.9,PROF,735.0,44.0,Gazprom - RusVelo,-,0.0,7349.7
2,PRT,640.0,73.0,Lampre - Merida,-,0.0,11960.4,PRT,375.0,70.0,...,330,0.0,8602.1,PRT,1142.0,63.0,UAE Team Emirates,295,0.0,9924.4
3,CONT,460,62.0,Optum p/b Kelly Benefit Strategies,-,1.0,8655.5,CONT,619,40.0,...,-,1.0,9546.0,PROF,423,61.0,Israel Cycling Academy,-,0.0,10098.1
4,PRT,360,72.0,Team Katusha,196,1.0,11969.9,PRT,1340,85.0,...,-,0.0,13660.8,PRT,998,17.0,Team Katusha - Alpecin,-,0.0,2733.3

In [260]:
# Replacing '-' with NaNs
biker_class.loc[:,'2015_div':'2018_year_km'] = biker_class.loc[:,'2015_div':'2018_year_km'].replace('-', np.NaN)

In [261]:
# Changing type of 'object' columns to their proper data type
rank_ix = biker_class.columns[biker_class.columns.str.contains('_rank')]
biker_class[rank_ix] = biker_class[rank_ix].astype('float')
biker_class[rank_ix].dtypes

2015_fc_rank     float64
2015_uci_rank    float64
2016_fc_rank     float64
2016_uci_rank    float64
2017_fc_rank     float64
2017_uci_rank    float64
2018_fc_rank     float64
2018_uci_rank    float64
dtype: object

In [262]:
# Checking null-values in selected columns
biker_class[rank_ix].isnull().sum()

2015_fc_rank      243
2015_uci_rank    3571
2016_fc_rank      263
2016_uci_rank    3380
2017_fc_rank      465
2017_uci_rank    2140
2018_fc_rank      823
2018_uci_rank    2541
dtype: int64

In [263]:
# Further column removal due to many missing values
biker_class.drop(list(biker_class.filter(regex='_uci_rank')), axis=1, inplace=True)
biker_class.shape

## Imputing data

In [264]:
# Checking all dataframe for missing data
biker_class_null_cols = biker_class.columns[biker_class.isnull().any()]
biker_class[biker_class_null_cols].isnull().sum()

2015_div          385
2015_fc_rank      243
2015_race_days    170
2015_team         170
2015_wins         170
2015_year_km      170
2016_div          207
2016_fc_rank      263
2016_race_days     95
2016_team          95
2016_wins          95
2016_year_km       95
2017_div          385
2017_fc_rank      465
2017_race_days    302
2017_team         302
2017_wins         302
2017_year_km      302
2018_div          666
2018_fc_rank      823
2018_race_days    541
2018_team         541
2018_wins         541
2018_year_km      541
wind_dir          291
dtype: int64

### Categorical data

In [265]:
biker_class.select_dtypes('object').isnull().sum()

name           0
nation         0
team           0
2015_div     385
2015_team    170
2016_div     207
2016_team     95
2017_div     385
2017_team    302
2018_div     666
2018_team    541
date           0
finish         0
wind_dir     291
dtype: int64

In [266]:
# Imputing missing categorical weather data with the most frequent value
biker_class['wind_dir'].fillna(biker_class['wind_dir'].value_counts().index[0], inplace=True)

In [ ]:
# Imputing missing values in '_div' and '_team' data as new category 'NONE'
biker_class.loc[:,'2015_div':'2018_year_km':3] = biker_class.loc[:,'2015_div':'2018_year_km':3].fillna('NONE')

In [276]:
# Imputing missing values in all other numerical columns
biker_class_null_cols = biker_class.columns[biker_class.isnull().any()]
biker_class[biker_class_null_cols].isnull().sum()

2015_fc_rank      243
2015_race_days    170
2015_wins         170
2015_year_km      170
2016_fc_rank      263
2016_race_days     95
2016_wins          95
2016_year_km       95
2017_fc_rank      465
2017_race_days    302
2017_wins         302
2017_year_km      302
2018_fc_rank      823
2018_race_days    541
2018_wins         541
2018_year_km      541
dtype: int64

In [ ]:
STOP - TBD

In [281]:
rank_ix = biker_class.columns[biker_class.columns.str.contains('_fc_rank')]
biker_class[rank_ix] = biker_class[rank_ix].fillna('999999')
biker_class[rank_ix].head()

  2015_fc_rank 2016_fc_rank 2017_fc_rank 2018_fc_rank
0          115          430       999999       999999
1          301          161          428          735
2          640          375         1257         1142
3          460          619          276          423
4          360         1340          765          998

In [283]:
# Imputing 0s for the rest of value-missing columns as the Biker was not riding at that period
biker_class_null_cols = biker_class.columns[biker_class.isnull().any()]
biker_class[biker_class_null_cols] = biker_class[biker_class_null_cols].fillna(0)
biker_class[biker_class_null_cols].head()

,2015_race_days,2015_wins,2015_year_km,2016_race_days,2016_wins,2016_year_km,2017_race_days,2017_wins,2017_year_km,2018_race_days,2018_wins,2018_year_km
0,70.0,3.0,11430.9,59.0,1.0,9262.8,0.0,0.0,0.0,0.0,0.0,0.0
1,54.0,1.0,8473.1,63.0,2.0,10287.0,52.0,0.0,8936.9,44.0,0.0,7349.7
2,73.0,0.0,11960.4,70.0,0.0,11537.7,55.0,0.0,8602.1,63.0,0.0,9924.4
3,62.0,1.0,8655.5,40.0,1.0,5630.7,61.0,1.0,9546.0,61.0,0.0,10098.1
4,72.0,1.0,11969.9,85.0,0.0,14288.5,85.0,0.0,13660.8,17.0,0.0,2733.3

## Saving final cleaned dataframe: `biker_class`

In [286]:
biker_class.to_csv('processed/clean_biker_class.csv')
print(biker_class.shape)
biker_class.head(2)

(5255, 84)

,name,nation,age,team,year,stage,position,time_in_s,gc,gc_time_in_s,...,stage_type_code,dist,finish,temp,rel_humid,wind_dir,wind_speed,clouds_ovrl,visibility,y_label
0,Y.Hutarovich,Belarus,31,AG2R La Mondiale,2014,1,1,20870.0,1,20860.0,...,1,226.0,Bygdoszcz,31.5,38,ESE,2,6,9,1
1,R.Maikin,Russia,24,RusVelo,2014,1,2,20870.0,2,20864.0,...,1,226.0,Bygdoszcz,31.5,38,ESE,2,6,9,1