# This part 3 of 3 is TBD very soon

**Previous notebooks:** <br>
[Part 1: Data mining and munging](tdp_1_3_data_mining_and_cleaning.ipynb)<br>
[Part 2: Data stats and visuals](tdp_2_3_data_statistics_visualization.ipynb)

In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns; sns.set()

### Data loading

In [51]:
# Main data for modeling
biker_class = pd.read_csv('processed/clean_biker_class.csv', index_col=0)

# # Additional parts for statistics
# biker_stats = pd.read_csv('preprocessed/pre_biker_stats.csv', index_col=0)
# biker_by_stage = pd.read_csv('preprocessed/pre_biker_by_stage.csv', index_col=0)
# stage_results = pd.read_csv('preprocessed/pre_stages.csv', index_col=False)
# stage_class = pd.read_csv('preprocessed/pre_stages_summary.csv', index_col=False)

In [52]:
# Fixing 'date' type column
biker_class['date'] = pd.to_datetime(biker_class['date'])

# Preparing data

In [53]:
# Baseline prediction for 0s in %
100 - (biker_class.y_label.mean() * 100)

93.52997145575642

In [54]:
# Poping out label column
y = biker_class.pop('y_label')

In [55]:
y[6:15]

6     1
7     1
8     1
9     1
10    0
11    0
12    0
13    0
14    0
Name: y_label, dtype: int64

-------

In [56]:
biker_class.columns

Index(['name', 'nation', 'age', 'team', 'year', 'stage', 'position',
       'time_in_s', 'gc', 'gc_time_in_s', 'mount_jerseys', 'point_jerseys',
       'sprint_jerseys', 'youth_jerseys', 'followers', 'total_wins', 'n_tours',
       'n_stages', 'avg_year', 'best_pos_ovr', 'avg_pos_ovr', 'worst_pos_ovr',
       'best_time_ovr', 'avg_time_ovr', 'worst_time_ovr', 'best_gc_ovr',
       'avg_gc_ovr', 'worst_gc_ovr', 'best_gc_time_ovr', 'avg_gc_time_ovr',
       'worst_gc_time_ovr', 'n_top10_ovr', 'n_win_ovr', 'best_pos_ovr_l3',
       'avg_pos_ovr_l3', 'worst_pos_ovr_l3', 'best_time_ovr_l3',
       'avg_time_ovr_l3', 'worst_time_ovr_l3', 'best_gc_ovr_l3',
       'avg_gc_ovr_l3', 'worst_gc_ovr_l3', 'best_gc_time_ovr_l3',
       'avg_gc_time_ovr_l3', 'worst_gc_time_ovr_l3', 'n_top10_l3', 'n_win_l3',
       'perc_top10_ovr', 'perc_win_ovr', '2015_div', '2015_fc_rank',
       '2015_race_days', '2015_team', '2015_wins', '2015_year_km', '2016_div',
       '2016_fc_rank', '2016_race_days', '2016_team', '2016_wins',
       '2016_year_km', '2017_div', '2017_fc_rank', '2017_race_days',
       '2017_team', '2017_wins', '2017_year_km', '2018_div', '2018_fc_rank',
       '2018_race_days', '2018_team', '2018_wins', '2018_year_km', 'date',
       'stage_type_code', 'dist', 'finish', 'temp', 'rel_humid', 'wind_dir',
       'wind_speed', 'clouds_ovrl', 'visibility'],
      dtype='object')

In [57]:
print(biker_class.shape)
biker_class.head()

(5255, 83)

,name,nation,age,team,year,stage,position,time_in_s,gc,gc_time_in_s,...,date,stage_type_code,dist,finish,temp,rel_humid,wind_dir,wind_speed,clouds_ovrl,visibility
0,Y.Hutarovich,Belarus,31,AG2R La Mondiale,2014,1,1,20870.0,1,20860.0,...,2014-08-03,1,226.0,Bygdoszcz,31.5,38,ESE,2,6,9
1,R.Maikin,Russia,24,RusVelo,2014,1,2,20870.0,2,20864.0,...,2014-08-03,1,226.0,Bygdoszcz,31.5,38,ESE,2,6,9
2,M.Mori,Italy,34,Lampre - Merida,2014,1,3,20870.0,3,20866.0,...,2014-08-03,1,226.0,Bygdoszcz,31.5,38,ESE,2,6,9
3,G.Boivin,Canada,25,Cannondale Pro Cycling,2014,1,4,20870.0,6,20870.0,...,2014-08-03,1,226.0,Bygdoszcz,31.5,38,ESE,2,6,9
4,M.Haller,Austria,23,Team Katusha,2014,1,5,20870.0,7,20870.0,...,2014-08-03,1,226.0,Bygdoszcz,31.5,38,ESE,2,6,9

## Remapping & Dropping

In [58]:
# Due to too many levels, trying with the '_team' data removed
# Try: change team levels for only 5 top + 1 as a rest
biker_class.drop('team', axis=1, inplace=True)
biker_class.drop(biker_class.loc[:,'2015_team':'2018_team':6], axis=1, inplace=True)

In [59]:
biker_class.loc[:,'2015_div':'2018_div':5].head()

  2015_div 2016_div 2017_div 2018_div
0     PROF     PROF     NONE     NONE
1     PROF     PROF     PROF     PROF
2      PRT      PRT      PRT      PRT
3     CONT     CONT     PROF     PROF
4      PRT      PRT      PRT      PRT

In [11]:
# Remapping '_div' team types with numbers as they show a true level of professionalism
biker_class.loc[:,'2015_div':'2018_div':5] = biker_class.loc[:,'2015_div':'2018_div':5]\
                                                        .replace({'PRT':1, 'PROF':2, 'CONT':3, 'NONE':4})

In [12]:
biker_class.loc[:,'2015_div':'2018_div':5].head()

   2015_div  2016_div  2017_div  2018_div
0         2         2         4         4
1         2         2         2         2
2         1         1         1         1
3         3         3         2         2
4         1         1         1         1

## Information about features

### Datetime feature (1)

In [13]:
biker_class.select_dtypes('datetime').head()

        date
0 2014-08-03
1 2014-08-03
2 2014-08-03
3 2014-08-03
4 2014-08-03

### Categorical features (4)

In [14]:
biker_class.select_dtypes('object').columns

4

Index(['name', 'nation', 'finish', 'wind_dir'], dtype='object')

In [15]:
print(biker_class.select_dtypes('object').shape)
biker_class.select_dtypes('object').head(3)

(5255, 4)

           name   nation     finish wind_dir
0  Y.Hutarovich  Belarus  Bygdoszcz      ESE
1      R.Maikin   Russia  Bygdoszcz      ESE
2        M.Mori    Italy  Bygdoszcz      ESE

### Numeric features (73)

In [16]:
biker_class.select_dtypes('number').columns

73

Index(['age', 'year', 'stage', 'position', 'time_in_s', 'gc', 'gc_time_in_s',
       'mount_jerseys', 'point_jerseys', 'sprint_jerseys', 'youth_jerseys',
       'followers', 'total_wins', 'n_tours', 'n_stages', 'avg_year',
       'best_pos_ovr', 'avg_pos_ovr', 'worst_pos_ovr', 'best_time_ovr',
       'avg_time_ovr', 'worst_time_ovr', 'best_gc_ovr', 'avg_gc_ovr',
       'worst_gc_ovr', 'best_gc_time_ovr', 'avg_gc_time_ovr',
       'worst_gc_time_ovr', 'n_top10_ovr', 'n_win_ovr', 'best_pos_ovr_l3',
       'avg_pos_ovr_l3', 'worst_pos_ovr_l3', 'best_time_ovr_l3',
       'avg_time_ovr_l3', 'worst_time_ovr_l3', 'best_gc_ovr_l3',
       'avg_gc_ovr_l3', 'worst_gc_ovr_l3', 'best_gc_time_ovr_l3',
       'avg_gc_time_ovr_l3', 'worst_gc_time_ovr_l3', 'n_top10_l3', 'n_win_l3',
       'perc_top10_ovr', 'perc_win_ovr', '2015_div', '2015_fc_rank',
       '2015_race_days', '2015_wins', '2015_year_km', '2016_div',
       '2016_fc_rank', '2016_race_days', '2016_wins', '2016_year_km',
       '2017_div', '2017_fc_rank', '2017_race_days', '2017_wins',
       '2017_year_km', '2018_div', '2018_fc_rank', '2018_race_days',
       '2018_wins', '2018_year_km', 'stage_type_code', 'dist', 'temp',
       'rel_humid', 'wind_speed', 'clouds_ovrl', 'visibility'],
      dtype='object')

In [17]:
print(biker_class.select_dtypes('number').shape)
biker_class.select_dtypes('number').head()

(5255, 73)

,age,year,stage,position,time_in_s,gc,gc_time_in_s,mount_jerseys,point_jerseys,sprint_jerseys,...,2018_race_days,2018_wins,2018_year_km,stage_type_code,dist,temp,rel_humid,wind_speed,clouds_ovrl,visibility
0,31,2014,1,1,20870.0,1,20860.0,0,6,0,...,0.0,0.0,0.0,1,226.0,31.5,38,2,6,9
1,24,2014,1,2,20870.0,2,20864.0,0,2,0,...,44.0,0.0,7349.7,1,226.0,31.5,38,2,6,9
2,34,2014,1,3,20870.0,3,20866.0,0,0,0,...,63.0,0.0,9924.4,1,226.0,31.5,38,2,6,9
3,25,2014,1,4,20870.0,6,20870.0,0,1,0,...,61.0,0.0,10098.1,1,226.0,31.5,38,2,6,9
4,23,2014,1,5,20870.0,7,20870.0,1,0,0,...,17.0,0.0,2733.3,1,226.0,31.5,38,2,6,9

## Transforming features into dummy categories & scaling values

In [18]:
from sklearn.preprocessing import MinMaxScaler
# from sklearn.preprocessing import StandardScaler

In [19]:
data_numerics = biker_class.select_dtypes(include = ['number'])
# Skipping 'name' column
data_categorical = biker_class.select_dtypes(exclude = ['number']).iloc[:,1:]

categorical_dummies = pd.get_dummies(data_categorical)

numeric_scaler = MinMaxScaler()
numerics_scaled = numeric_scaler.fit_transform(data_numerics)
numerics_scaled = pd.DataFrame(numerics_scaled, columns=data_numerics.columns, index=data_numerics.index)

data_adult = pd.concat([biker_class.name, categorical_dummies, numerics_scaled], axis=1)

In [20]:
print(data_adult.shape)
data_adult

(5255, 152)

,name,date,nation_Algeria,nation_Argentina,nation_Australia,nation_Austria,nation_Belarus,nation_Belgium,nation_Brazil,nation_Canada,...,2018_race_days,2018_wins,2018_year_km,stage_type_code,dist,temp,rel_humid,wind_speed,clouds_ovrl,visibility
0,Y.Hutarovich,2014-08-03,0,0,0,0,1,0,0,0,...,0.000000,0.000000,0.000000,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
1,R.Maikin,2014-08-03,0,0,0,0,0,0,0,0,...,0.511628,0.000000,0.547305,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
2,M.Mori,2014-08-03,0,0,0,0,0,0,0,0,...,0.732558,0.000000,0.739033,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
3,G.Boivin,2014-08-03,0,0,0,0,0,0,0,1,...,0.709302,0.000000,0.751968,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
4,M.Haller,2014-08-03,0,0,0,1,0,0,0,0,...,0.197674,0.000000,0.203539,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
5,N.Maes,2014-08-03,0,0,0,0,0,1,0,0,...,0.627907,0.000000,0.682066,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
6,B.Vallee,2014-08-03,0,0,0,0,0,0,0,0,...,0.697674,0.000000,0.700735,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
7,S.Lander,2014-08-03,0,0,0,0,0,0,0,0,...,0.267442,0.000000,0.267572,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
8,D.Formolo,2014-08-03,0,0,0,0,0,0,0,0,...,0.848837,0.000000,0.850345,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
9,E.Gasparotto,2014-08-03,0,0,0,0,0,0,0,0,...,0.651163,0.000000,0.636493,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
10,G.Stepniak,2014-08-03,0,0,0,0,0,0,0,0,...,0.279070,0.058824,0.248360,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
11,G.Brambilla,2014-08-03,0,0,0,0,0,0,0,0,...,0.872093,0.000000,0.863682,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
12,C.Meier,2014-08-03,0,0,0,0,0,0,0,0,...,0.779070,0.000000,0.721824,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
13,T.Bos,2014-08-03,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
14,T.Kritskiy,2014-08-03,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
15,D.Nerz,2014-08-03,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
16,A.Amador,2014-08-03,0,0,0,0,0,0,0,0,...,0.941860,0.058824,0.938402,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
17,P.Poljanski,2014-08-03,0,0,0,0,0,0,0,0,...,0.825581,0.000000,0.803796,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
18,A.Vuillermoz,2014-08-03,0,0,0,0,0,0,0,0,...,0.569767,0.000000,0.613364,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
19,B.Matysiak,2014-08-03,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
20,G.Caruso,2014-08-03,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
21,A.Tulik,2014-08-03,0,0,0,0,0,0,0,0,...,0.604651,0.000000,0.630394,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
22,P.Niemiec,2014-08-03,0,0,0,0,0,0,0,0,...,0.383721,0.000000,0.331985,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
23,R.Majka,2014-08-03,0,0,0,0,0,0,0,0,...,0.883721,0.000000,0.863585,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
24,O.Zaugg,2014-08-03,0,0,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
25,M.Rutkiewicz,2014-08-03,0,0,0,0,0,0,0,0,...,0.441860,0.000000,0.378907,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
26,P.Martens,2014-08-03,0,0,0,0,0,0,0,0,...,0.790698,0.000000,0.796759,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
27,P.Weening,2014-08-03,0,0,0,0,0,0,0,0,...,0.767442,0.058824,0.804846,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
28,W.Barguil,2014-08-03,0,0,0,0,0,0,0,0,...,0.720930,0.000000,0.735354,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
29,D.Cunego,2014-08-03,0,0,0,0,0,0,0,0,...,0.546512,0.000000,0.448987,0.0,0.934884,0.917874,0.422222,0.4,0.750,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5225,J.Kaczmarek,2018-08-10,0,0,0,0,0,0,0,0,...,0.558140,0.000000,0.485304,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5226,R.Hollenstein,2018-08-10,0,0,0,0,0,0,0,0,...,0.779070,0.000000,0.778694,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5227,Z.Bizhigitov,2018-08-10,0,0,0,0,0,0,0,0,...,0.558140,0.000000,0.556382,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5228,M.Podlaski,2018-08-10,0,0,0,0,0,0,0,0,...,0.511628,0.000000,0.429804,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5229,S.Davies,2018-08-10,0,0,0,0,0,0,0,0,...,0.755814,0.000000,0.754932,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5230,D.Moreno,2018-08-10,0,0,0,0,0,0,0,0,...,0.593023,0.000000,0.545480,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5231,L.Bak,2018-08-10,0,0,0,0,0,0,0,0,...,0.709302,0.000000,0.770026,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5232,H.Vanhoucke,2018-08-10,0,0,0,0,0,1,0,0,...,0.348837,0.000000,0.319773,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5233,E.Ravasi,2018-08-10,0,0,0,0,0,0,0,0,...,0.755814,0.000000,0.712128,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5234,W.Bonnet,2018-08-10,0,0,0,0,0,0,0,0,...,0.453488,0.000000,0.484284,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5235,E.Sepulveda,2018-08-10,0,1,0,0,0,0,0,0,...,0.930233,0.000000,0.891644,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5236,L.Morton,2018-08-10,0,0,1,0,0,0,0,0,...,0.581395,0.000000,0.555816,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5237,J.Venter,2018-08-10,0,0,0,0,0,0,0,0,...,0.813953,0.000000,0.800862,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5238,B.Van Lerberghe,2018-08-10,0,0,0,0,0,1,0,0,...,0.674419,0.000000,0.696066,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5239,M.Storer,2018-08-10,0,0,1,0,0,0,0,0,...,0.825581,0.000000,0.760018,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5240,G.Van Hoecke,2018-08-10,0,0,0,0,0,1,0,0,...,0.790698,0.000000,0.838341,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5241,M.Le Turnier,2018-08-10,0,0,0,0,0,0,0,0,...,0.732558,0.000000,0.737990,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5242,J.Shaw,2018-08-10,0,0,0,0,0,0,0,0,...,0.639535,0.000000,0.627691,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5243,M.Albasini,2018-08-10,0,0,0,0,0,0,0,0,...,0.767442,0.176471,0.706573,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5244,S.Rossetto,2018-08-10,0,0,0,0,0,0,0,0,...,0.662791,0.058824,0.674344,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5245,L.Vincent,2018-08-10,0,0,0,0,0,0,0,0,...,0.686047,0.000000,0.620423,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5246,A.Greipel,2018-08-10,0,0,0,0,0,0,0,0,...,0.790698,0.470588,0.762832,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5247,A.Edmondson,2018-08-10,0,0,1,0,0,0,0,0,...,0.709302,0.000000,0.686713,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5248,L.Boom,2018-08-10,0,0,0,0,0,0,0,0,...,0.709302,0.000000,0.641817,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5249,M.Schwarzmann,2018-08-10,0,0,0,0,0,0,0,0,...,0.534884,0.000000,0.538093,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5250,B.Eisel,2018-08-10,0,0,0,1,0,0,0,0,...,0.313953,0.000000,0.325626,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5251,L.Owen,2018-08-10,0,0,0,0,0,0,0,0,...,0.523256,0.000000,0.484172,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5252,A.Frame,2018-08-10,0,0,0,0,0,0,0,0,...,0.476744,0.000000,0.418783,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5253,D.McLay,2018-08-10,0,0,0,0,0,0,0,0,...,0.465116,0.058824,0.435196,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6
5254,K.Magnusson,2018-08-10,0,0,0,0,0,0,0,0,...,0.441860,0.000000,0.378892,0.4,0.516279,0.318841,0.000000,0.4,0.875,0.6

## Modeling

In [21]:
from sklearn.model_selection import cross_val_score, KFold, StratifiedKFold
from sklearn.metrics import accuracy_score

from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

from scipy.stats.distributions import uniform, randint

from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

Baseline

In [36]:
# Baseline prediction for 0s in %
100 - (y.mean() * 100)

93.52997145575642

In [22]:
# Spliting data depending on the date column (not random), because going down the dataframe it is 'sequencial' data,
# year by year, stage by stage

# Spliting observations
cutoff = 2700

X_train = data_adult.iloc[:cutoff,:]
X_test = data_adult.iloc[cutoff:,:]

y_train = y[:cutoff]
y_test = y[cutoff:]

In [23]:
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(2700, 152) (2555, 152)
(2700,) (2555,)

In [42]:
print('Train batch ------------')
print(y_train.value_counts())
print()
print('Test batch ------------')
print(y_test.value_counts())

Train batch ------------
0    2540
1     160
Name: y_label, dtype: int64

Test batch ------------
0    2375
1     180
Name: y_label, dtype: int64

### Support Vector Machines

In [26]:
svc = SVC()
scores = cross_val_score(X=X_train.iloc[:,2:],
                         y=y_train,
                         estimator=svc,
                         cv=StratifiedKFold(10, shuffle=True),
                         n_jobs=-1)

In [27]:
svc.fit(X_train.iloc[:,2:], y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [28]:
scores.mean()

0.9407407407407409

Customizing parameters

In [29]:
param_grid = {'kernel':['rbf'],
               'gamma':uniform(0.0,0.5),
               'C':uniform(0.25,10.0-0.25)}
#               ,
#               {'kernel':['poly'],
#                'degree':randint(1,7),
#                'C':uniform(0.25,10.0-0.25)}
#               ,
#               {'kernel':['sigmoid'],
#                'C':uniform(0.25,10.0-0.25)}]

In [30]:
grid = RandomizedSearchCV(
                        n_iter=30, 
                        estimator=svc, 
                        cv=StratifiedKFold(10, shuffle=True), 
                        param_distributions=param_grid,
                        n_jobs=-1
                        )

In [31]:
grid.fit(X_train.iloc[:,2:],y_train)

RandomizedSearchCV(cv=StratifiedKFold(n_splits=10, random_state=None, shuffle=True),
          error_score='raise',
          estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False),
          fit_params=None, iid=True, n_iter=30, n_jobs=-1,
          param_distributions={'kernel': ['rbf'], 'gamma': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000020C03353390>, 'C': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000020C03353C88>},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          return_train_score='warn', scoring=None, verbose=0)

In [32]:
grid.best_params_

{'C': 8.022514915741956, 'gamma': 0.08270862225413239, 'kernel': 'rbf'}

In [33]:
# The same score as without customising
grid.best_score_

0.9448148148148148

### Logistic Regression

Baseline

In [43]:
lr = LogisticRegression()
scores = cross_val_score(X=X_train.iloc[:,2:],
                         y=y_train,
                         estimator=lr,
                         cv=StratifiedKFold(10, shuffle=True),
                         n_jobs=-1)
lr.fit(X_train.iloc[:,2:], y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [44]:
scores.mean()

0.9466666666666667

Customizing parameters

In [45]:
param_grid = {'penalty':['l1','l2'],
               'C':uniform(0.25,10.0-0.25)}

In [46]:
grid = RandomizedSearchCV(
                        n_iter=30, 
                        estimator=lr, 
                        cv=StratifiedKFold(10, shuffle=True), 
                        param_distributions=param_grid,
                        n_jobs=-1
                        )

In [47]:
grid.fit(X_train.iloc[:,2:],y_train)

RandomizedSearchCV(cv=StratifiedKFold(n_splits=10, random_state=None, shuffle=True),
          error_score='raise',
          estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
          fit_params=None, iid=True, n_iter=30, n_jobs=-1,
          param_distributions={'penalty': ['l1', 'l2'], 'C': <scipy.stats._distn_infrastructure.rv_frozen object at 0x0000020C03693390>},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          return_train_score='warn', scoring=None, verbose=0)

In [48]:
grid.best_params_

{'C': 4.799925131087896, 'penalty': 'l1'}

In [49]:
grid.best_score_

0.9881481481481481