# This part 3 of 3 is TBD very soon

**Previous notebooks:** <br>
[Part 1: Data mining and munging](tdp_1_3_data_mining_and_cleaning.ipynb)<br>
[Part 2: Data stats and visuals](tdp_2_3_data_statistics_visualization.ipynb)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns; sns.set()

### Data loading

In [2]:
# Main data for modeling
biker_class = pd.read_csv('processed/clean_biker_class.csv', index_col=0)

# # Additional parts for statistics
# biker_stats = pd.read_csv('preprocessed/pre_biker_stats.csv', index_col=0)
# biker_by_stage = pd.read_csv('preprocessed/pre_biker_by_stage.csv', index_col=0)
# stage_results = pd.read_csv('preprocessed/pre_stages.csv', index_col=False)
# stage_class = pd.read_csv('preprocessed/pre_stages_summary.csv', index_col=False)

In [3]:
# Fixing 'date' type column
biker_class['date'] = pd.to_datetime(biker_class['date'])

# Preparing data

In [4]:
# Baseline prediction for 0s
1 - biker_class.y_label.mean()

0.9352997145575642

In [5]:
# Poping out label column
y = biker_class.pop('y_label')

In [6]:
y[6:15]

6     1
7     1
8     1
9     1
10    0
11    0
12    0
13    0
14    0
Name: y_label, dtype: int64

-------

In [7]:
biker_class.columns

Index(['name', 'nation', 'age', 'team', 'year', 'stage', 'position',
       'time_in_s', 'gc', 'gc_time_in_s', 'mount_jerseys', 'point_jerseys',
       'sprint_jerseys', 'youth_jerseys', 'followers', 'total_wins', 'n_tours',
       'n_stages', 'avg_year', 'best_pos_ovr', 'avg_pos_ovr', 'worst_pos_ovr',
       'best_time_ovr', 'avg_time_ovr', 'worst_time_ovr', 'best_gc_ovr',
       'avg_gc_ovr', 'worst_gc_ovr', 'best_gc_time_ovr', 'avg_gc_time_ovr',
       'worst_gc_time_ovr', 'n_top10_ovr', 'n_win_ovr', 'best_pos_ovr_l3',
       'avg_pos_ovr_l3', 'worst_pos_ovr_l3', 'best_time_ovr_l3',
       'avg_time_ovr_l3', 'worst_time_ovr_l3', 'best_gc_ovr_l3',
       'avg_gc_ovr_l3', 'worst_gc_ovr_l3', 'best_gc_time_ovr_l3',
       'avg_gc_time_ovr_l3', 'worst_gc_time_ovr_l3', 'n_top10_l3', 'n_win_l3',
       'perc_top10_ovr', 'perc_win_ovr', '2015_div', '2015_fc_rank',
       '2015_race_days', '2015_team', '2015_wins', '2015_year_km', '2016_div',
       '2016_fc_rank', '2016_race_days', '2016_team', '2016_wins',
       '2016_year_km', '2017_div', '2017_fc_rank', '2017_race_days',
       '2017_team', '2017_wins', '2017_year_km', '2018_div', '2018_fc_rank',
       '2018_race_days', '2018_team', '2018_wins', '2018_year_km', 'date',
       'stage_type_code', 'dist', 'finish', 'temp', 'rel_humid', 'wind_dir',
       'wind_speed', 'clouds_ovrl', 'visibility'],
      dtype='object')

In [8]:
print(biker_class.shape)
biker_class.head()

(5255, 83)

,name,nation,age,team,year,stage,position,time_in_s,gc,gc_time_in_s,...,date,stage_type_code,dist,finish,temp,rel_humid,wind_dir,wind_speed,clouds_ovrl,visibility
0,Y.Hutarovich,Belarus,31,AG2R La Mondiale,2014,1,1,20870.0,1,20860.0,...,2014-08-03,1,226.0,Bygdoszcz,31.5,38,ESE,2,6,9
1,R.Maikin,Russia,24,RusVelo,2014,1,2,20870.0,2,20864.0,...,2014-08-03,1,226.0,Bygdoszcz,31.5,38,ESE,2,6,9
2,M.Mori,Italy,34,Lampre - Merida,2014,1,3,20870.0,3,20866.0,...,2014-08-03,1,226.0,Bygdoszcz,31.5,38,ESE,2,6,9
3,G.Boivin,Canada,25,Cannondale Pro Cycling,2014,1,4,20870.0,6,20870.0,...,2014-08-03,1,226.0,Bygdoszcz,31.5,38,ESE,2,6,9
4,M.Haller,Austria,23,Team Katusha,2014,1,5,20870.0,7,20870.0,...,2014-08-03,1,226.0,Bygdoszcz,31.5,38,ESE,2,6,9

## Remapping & Dropping

In [9]:
# Due to too many levels, trying with the '_team' data removed
# Try: change team levels for only 5 top + 1 as a rest
biker_class.drop('team', axis=1, inplace=True)
biker_class.drop(biker_class.loc[:,'2015_team':'2018_team':6], axis=1, inplace=True)

In [10]:
biker_class.loc[:,'2015_div':'2018_div':5].head()

  2015_div 2016_div 2017_div 2018_div
0     PROF     PROF     NONE     NONE
1     PROF     PROF     PROF     PROF
2      PRT      PRT      PRT      PRT
3     CONT     CONT     PROF     PROF
4      PRT      PRT      PRT      PRT

In [11]:
# Remapping '_div' team types with numbers as they show a true level of professionalism
biker_class.loc[:,'2015_div':'2018_div':5] = biker_class.loc[:,'2015_div':'2018_div':5]\
                                                        .replace({'PRT':1, 'PROF':2, 'CONT':3, 'NONE':4})

In [12]:
biker_class.loc[:,'2015_div':'2018_div':5].head()

   2015_div  2016_div  2017_div  2018_div
0         2         2         4         4
1         2         2         2         2
2         1         1         1         1
3         3         3         2         2
4         1         1         1         1

## Information about features

### Datetime feature (1)

In [13]:
biker_class.select_dtypes('datetime').head()

        date
0 2014-08-03
1 2014-08-03
2 2014-08-03
3 2014-08-03
4 2014-08-03

### Categorical features (4)

In [14]:
biker_class.select_dtypes('object').columns

Index(['name', 'nation', 'finish', 'wind_dir'], dtype='object')

In [15]:
print(biker_class.select_dtypes('object').shape)
biker_class.select_dtypes('object').head(3)

(5255, 4)

           name   nation     finish wind_dir
0  Y.Hutarovich  Belarus  Bygdoszcz      ESE
1      R.Maikin   Russia  Bygdoszcz      ESE
2        M.Mori    Italy  Bygdoszcz      ESE

### Numeric features (73)

In [16]:
biker_class.select_dtypes('number').columns

Index(['age', 'year', 'stage', 'position', 'time_in_s', 'gc', 'gc_time_in_s',
       'mount_jerseys', 'point_jerseys', 'sprint_jerseys', 'youth_jerseys',
       'followers', 'total_wins', 'n_tours', 'n_stages', 'avg_year',
       'best_pos_ovr', 'avg_pos_ovr', 'worst_pos_ovr', 'best_time_ovr',
       'avg_time_ovr', 'worst_time_ovr', 'best_gc_ovr', 'avg_gc_ovr',
       'worst_gc_ovr', 'best_gc_time_ovr', 'avg_gc_time_ovr',
       'worst_gc_time_ovr', 'n_top10_ovr', 'n_win_ovr', 'best_pos_ovr_l3',
       'avg_pos_ovr_l3', 'worst_pos_ovr_l3', 'best_time_ovr_l3',
       'avg_time_ovr_l3', 'worst_time_ovr_l3', 'best_gc_ovr_l3',
       'avg_gc_ovr_l3', 'worst_gc_ovr_l3', 'best_gc_time_ovr_l3',
       'avg_gc_time_ovr_l3', 'worst_gc_time_ovr_l3', 'n_top10_l3', 'n_win_l3',
       'perc_top10_ovr', 'perc_win_ovr', '2015_div', '2015_fc_rank',
       '2015_race_days', '2015_wins', '2015_year_km', '2016_div',
       '2016_fc_rank', '2016_race_days', '2016_wins', '2016_year_km',
       '2017_div', '2017_fc_rank', '2017_race_days', '2017_wins',
       '2017_year_km', '2018_div', '2018_fc_rank', '2018_race_days',
       '2018_wins', '2018_year_km', 'stage_type_code', 'dist', 'temp',
       'rel_humid', 'wind_speed', 'clouds_ovrl', 'visibility'],
      dtype='object')

In [17]:
print(biker_class.select_dtypes('number').shape)
biker_class.select_dtypes('number').head()

(5255, 73)

,age,year,stage,position,time_in_s,gc,gc_time_in_s,mount_jerseys,point_jerseys,sprint_jerseys,...,2018_race_days,2018_wins,2018_year_km,stage_type_code,dist,temp,rel_humid,wind_speed,clouds_ovrl,visibility
0,31,2014,1,1,20870.0,1,20860.0,0,6,0,...,0.0,0.0,0.0,1,226.0,31.5,38,2,6,9
1,24,2014,1,2,20870.0,2,20864.0,0,2,0,...,44.0,0.0,7349.7,1,226.0,31.5,38,2,6,9
2,34,2014,1,3,20870.0,3,20866.0,0,0,0,...,65.0,0.0,10322.1,1,226.0,31.5,38,2,6,9
3,25,2014,1,4,20870.0,6,20870.0,0,1,0,...,63.0,0.0,10485.0,1,226.0,31.5,38,2,6,9
4,23,2014,1,5,20870.0,7,20870.0,1,0,0,...,17.0,0.0,2733.3,1,226.0,31.5,38,2,6,9

## Transforming features into dummy categories & scaling values

In [18]:
# from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [19]:
data_numerics = biker_class.select_dtypes(include = ['number'])
# Skipping 'name' column
data_categorical = biker_class.select_dtypes(exclude = ['number']).iloc[:,1:]

categorical_dummies = pd.get_dummies(data_categorical)

numeric_scaler = StandardScaler()
numerics_scaled = numeric_scaler.fit_transform(data_numerics)
numerics_scaled = pd.DataFrame(numerics_scaled, columns=data_numerics.columns, index=data_numerics.index)

data_adult = pd.concat([biker_class.name, categorical_dummies, numerics_scaled], axis=1)

In [20]:
print(data_adult.shape)
data_adult

(5255, 152)

,name,date,nation_Algeria,nation_Argentina,nation_Australia,nation_Austria,nation_Belarus,nation_Belgium,nation_Brazil,nation_Canada,...,2018_race_days,2018_wins,2018_year_km,stage_type_code,dist,temp,rel_humid,wind_speed,clouds_ovrl,visibility
0,Y.Hutarovich,2014-08-03,0,0,0,0,1,0,0,0,...,-1.987928,-0.404551,-1.951352,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
1,R.Maikin,2014-08-03,0,0,0,0,0,0,0,0,...,-0.165444,-0.404551,-0.011144,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
2,M.Mori,2014-08-03,0,0,0,0,0,0,0,0,...,0.704378,-0.404551,0.773524,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
3,G.Boivin,2014-08-03,0,0,0,0,0,0,0,1,...,0.621538,-0.404551,0.816527,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
4,M.Haller,2014-08-03,0,0,0,1,0,0,0,0,...,-1.283787,-0.404551,-1.229803,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
5,N.Maes,2014-08-03,0,0,0,0,0,1,0,0,...,0.290177,-0.404551,0.520970,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
6,B.Vallee,2014-08-03,0,0,0,0,0,0,0,0,...,0.497278,-0.404551,0.532770,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
7,S.Lander,2014-08-03,0,0,0,0,0,0,0,0,...,-0.993846,-0.404551,-0.952381,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
8,D.Formolo,2014-08-03,0,0,0,0,0,0,0,0,...,1.077159,-0.404551,1.115886,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
9,E.Gasparotto,2014-08-03,0,0,0,0,0,0,0,0,...,0.373017,-0.404551,0.356745,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
10,G.Stepniak,2014-08-03,0,0,0,0,0,0,0,0,...,-0.993846,0.259176,-1.070910,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
11,G.Brambilla,2014-08-03,0,0,0,0,0,0,0,0,...,1.159999,-0.404551,1.163165,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
12,C.Meier,2014-08-03,0,0,0,0,0,0,0,0,...,0.828639,-0.404551,0.660275,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
13,T.Bos,2014-08-03,0,0,0,0,0,0,0,0,...,-1.987928,-0.404551,-1.951352,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
14,T.Kritskiy,2014-08-03,0,0,0,0,0,0,0,0,...,-1.987928,-0.404551,-1.951352,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
15,D.Nerz,2014-08-03,0,0,0,0,0,0,0,0,...,-1.987928,-0.404551,-1.951352,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
16,A.Amador,2014-08-03,0,0,0,0,0,0,0,0,...,1.408520,0.259176,1.391881,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
17,P.Poljanski,2014-08-03,0,0,0,0,0,0,0,0,...,0.952899,-0.404551,0.898125,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
18,A.Vuillermoz,2014-08-03,0,0,0,0,0,0,0,0,...,0.124497,-0.404551,0.328023,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
19,B.Matysiak,2014-08-03,0,0,0,0,0,0,0,0,...,-1.987928,-0.404551,-1.951352,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
20,G.Caruso,2014-08-03,0,0,0,0,0,0,0,0,...,-1.987928,-0.404551,-1.951352,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
21,A.Tulik,2014-08-03,0,0,0,0,0,0,0,0,...,0.165917,-0.404551,0.283410,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
22,P.Niemiec,2014-08-03,0,0,0,0,0,0,0,0,...,-0.579645,-0.404551,-0.721183,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
23,R.Majka,2014-08-03,0,0,0,0,0,0,0,0,...,1.159999,-0.404551,1.110078,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
24,O.Zaugg,2014-08-03,0,0,0,0,0,0,0,0,...,-1.987928,-0.404551,-1.951352,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
25,M.Rutkiewicz,2014-08-03,0,0,0,0,0,0,0,0,...,-0.413965,-0.404551,-0.608119,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
26,P.Martens,2014-08-03,0,0,0,0,0,0,0,0,...,0.911479,-0.404551,0.977980,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
27,P.Weening,2014-08-03,0,0,0,0,0,0,0,0,...,0.745798,0.259176,0.901847,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
28,W.Barguil,2014-08-03,0,0,0,0,0,0,0,0,...,0.704378,-0.404551,0.813227,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
29,D.Cunego,2014-08-03,0,0,0,0,0,0,0,0,...,-0.041184,-0.404551,-0.359683,-0.73624,1.139830,1.405869,-0.032021,-0.443167,0.614099,1.247777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5225,J.Kaczmarek,2018-08-10,0,0,0,0,0,0,0,0,...,0.000236,-0.404551,-0.230938,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5226,R.Hollenstein,2018-08-10,0,0,0,0,0,0,0,0,...,0.828639,-0.404551,0.825714,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5227,Z.Bizhigitov,2018-08-10,0,0,0,0,0,0,0,0,...,0.000236,-0.404551,0.021036,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5228,M.Podlaski,2018-08-10,0,0,0,0,0,0,0,0,...,-0.165444,-0.404551,-0.427685,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5229,S.Davies,2018-08-10,0,0,0,0,0,0,0,0,...,0.704378,-0.404551,0.724898,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5230,D.Moreno,2018-08-10,0,0,0,0,0,0,0,0,...,0.124497,-0.404551,-0.017612,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5231,L.Bak,2018-08-10,0,0,0,0,0,0,0,0,...,0.538698,-0.404551,0.778408,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5232,H.Vanhoucke,2018-08-10,0,0,0,0,0,1,0,0,...,-0.745325,-0.404551,-0.817749,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5233,E.Ravasi,2018-08-10,0,0,0,0,0,0,0,0,...,0.704378,-0.404551,0.573160,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5234,W.Bonnet,2018-08-10,0,0,0,0,0,0,0,0,...,-0.372544,-0.404551,-0.234554,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5235,E.Sepulveda,2018-08-10,0,1,0,0,0,0,0,0,...,1.325680,-0.404551,1.209547,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5236,L.Morton,2018-08-10,0,0,1,0,0,0,0,0,...,0.165917,-0.404551,0.124016,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5237,J.Venter,2018-08-10,0,0,0,0,0,0,0,0,...,0.911479,-0.404551,0.887724,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5238,B.Van Lerberghe,2018-08-10,0,0,0,0,0,1,0,0,...,0.497278,-0.404551,0.623158,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5239,M.Storer,2018-08-10,0,0,1,0,0,0,0,0,...,0.952899,-0.404551,0.742928,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5240,G.Van Hoecke,2018-08-10,0,0,0,0,0,1,0,0,...,0.911479,-0.404551,1.125389,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5241,M.Le Turnier,2018-08-10,0,0,0,0,0,0,0,0,...,0.621538,-0.404551,0.664841,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5242,J.Shaw,2018-08-10,0,0,0,0,0,0,0,0,...,0.290177,-0.404551,0.273827,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5243,M.Albasini,2018-08-10,0,0,0,0,0,0,0,0,...,0.745798,1.586629,0.553466,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5244,S.Rossetto,2018-08-10,0,0,0,0,0,0,0,0,...,0.414437,0.259176,0.493595,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5245,L.Vincent,2018-08-10,0,0,0,0,0,0,0,0,...,0.455858,-0.404551,0.248063,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5246,A.Greipel,2018-08-10,0,0,0,0,0,0,0,0,...,0.911479,4.905263,0.857814,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5247,A.Edmondson,2018-08-10,0,0,1,0,0,0,0,0,...,0.538698,-0.404551,0.483062,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5248,L.Boom,2018-08-10,0,0,0,0,0,0,0,0,...,0.538698,-0.404551,0.323905,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5249,M.Schwarzmann,2018-08-10,0,0,0,0,0,0,0,0,...,-0.082604,-0.404551,-0.043799,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5250,B.Eisel,2018-08-10,0,0,0,1,0,0,0,0,...,-0.869586,-0.404551,-0.797000,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5251,L.Owen,2018-08-10,0,0,0,0,0,0,0,0,...,-0.124024,-0.404551,-0.234950,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5252,A.Frame,2018-08-10,0,0,0,0,0,0,0,0,...,-0.289704,-0.404551,-0.466755,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5253,D.McLay,2018-08-10,0,0,0,0,0,0,0,0,...,-0.289704,0.259176,-0.358046,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252
5254,K.Magnusson,2018-08-10,0,0,0,0,0,0,0,0,...,-0.413965,-0.404551,-0.608172,0.77477,-0.544651,-1.316343,-1.452957,-0.443167,1.061064,-0.372252

## Modeling

In [21]:
from sklearn.model_selection import cross_val_score, KFold, StratifiedKFold
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import classification_report

from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

from scipy.stats.distributions import uniform, randint

from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

In [22]:
# Baseline prediction for 0s
1 - y.mean()

0.9352997145575642

In [24]:
# Spliting data depending on the date column (not random), because going down the dataframe it is 'sequencial' data,
# year by year, stage by stage

# Spliting observations to prevent data leakage
# Split made after last stage of year 2017
cutoff = 3120

X_train = data_adult.iloc[:cutoff,:]
X_test = data_adult.iloc[cutoff:,:]

y_train = y[:cutoff]
y_test = y[cutoff:]

In [25]:
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(3120, 152) (2135, 152)
(3120,) (2135,)

In [26]:
print('Train batch ------------')
print(y_train.value_counts())
print()
print('Test batch -------------')
print(y_test.value_counts())

Train batch ------------
0    2930
1     190
Name: y_label, dtype: int64

Test batch -------------
0    1985
1     150
Name: y_label, dtype: int64

### Baseline

In [27]:
X_train_cut = X_train.iloc[:,2:]
X_test_cut = X_test.iloc[:,2:]

#### Support Vector Machines

In [28]:
svc = SVC(class_weight='balanced', probability=True, random_state=42)
scores = cross_val_score(X=X_train_cut,
                         y=y_train,
                         estimator=svc,
                         cv=StratifiedKFold(10, shuffle=True),
                         scoring='roc_auc',
                         n_jobs=-1)

In [29]:
svc.fit(X_train_cut, y_train)

SVC(C=1.0, cache_size=200, class_weight='balanced', coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=True, random_state=42, shrinking=True,
  tol=0.001, verbose=False)

In [30]:
scores.mean()

0.926944494341656

In [31]:
svc.predict_proba(X_test_cut)

array([[9.99943846e-01, 5.61541064e-05],
       [9.80404435e-01, 1.95955649e-02],
       [9.31844831e-01, 6.81551688e-02],
       ...,
       [9.99852727e-01, 1.47273272e-04],
       [9.99927605e-01, 7.23952728e-05],
       [9.98421677e-01, 1.57832350e-03]])

Customizing parameters

In [32]:
param_grid = {'kernel':['rbf'],
               'gamma':uniform(0.0,0.5),
               'C':uniform(0.25,10.0-0.25)}
#               ,
#               {'kernel':['poly'],
#                'degree':randint(1,7),
#                'C':uniform(0.25,10.0-0.25)}
#               ,
#               {'kernel':['sigmoid'],
#                'C':uniform(0.25,10.0-0.25)}]

In [33]:
grid = RandomizedSearchCV(
                        n_iter=30, 
                        estimator=svc, 
                        cv=StratifiedKFold(10, shuffle=True), 
                        param_distributions=param_grid,
                        scoring='roc_auc',
                        n_jobs=-1
                        )

In [ ]:
grid.fit(X_train_cut, y_train)

In [ ]:
grid.best_params_

In [ ]:
grid.predict_proba(X_test_cut)

In [ ]:
# After customizing params
grid.best_score_

In [ ]:
print(classification_report(grid.predict(X_test_cut), y_test))

#### Logistic Regression

Baseline

In [ ]:
lr = LogisticRegression(class_weight='balanced', random_state=42)
scores = cross_val_score(X=X_train_cut,
                         y=y_train,
                         estimator=lr,
                         cv=StratifiedKFold(10, shuffle=True),
                         scoring='roc_auc',
                         n_jobs=-1)
lr.fit(X_train_cut, y_train)

In [ ]:
scores.mean()

Customizing parameters

In [ ]:
param_grid = {'penalty':['l1','l2'],
              'C':uniform(0.25,10.0-0.25)}

In [ ]:
grid = RandomizedSearchCV(
                        n_iter=30, 
                        estimator=lr, 
                        cv=StratifiedKFold(10, shuffle=True), 
                        param_distributions=param_grid,
                        scoring='roc_auc',
                        n_jobs=-1
                        )

In [ ]:
grid.fit(X_train_cut, y_train)

In [ ]:
grid.best_params_

In [ ]:
grid.best_score_

In [ ]:
print(classification_report(grid.predict(X_test_cut), y_test))

### Features engineering

First feature engineering was carried out above using L1 regularization with the Logistic Regression

In [ ]:
data_adult_cut = data_adult.iloc[:,2:]

**Variance Threshold**

In [ ]:
from sklearn.feature_selection import VarianceThreshold

In [ ]:
var = VarianceThreshold(threshold=0.1)
var.fit(data_adult_cut)
data_adult_var = var.transform(data_adult_cut)

In [ ]:
data_adult_cut.shape, data_adult_var.shape

In [ ]:
X_train_var = data_adult_var[:cutoff]
X_test_var = data_adult_var[cutoff:]

In [ ]:
X_train_cut.shape, X_train_var.shape

In [ ]:
param_grid = {'penalty':['l1','l2'],
              'C':uniform(0.25,10.0-0.25)}

grid = RandomizedSearchCV(
                        n_iter=30, 
                        estimator=lr, 
                        cv=StratifiedKFold(10, shuffle=True), 
                        param_distributions=param_grid,
                        scoring='roc_auc',
                        n_jobs=-1
                        )

grid.fit(X_train_var, y_train)

In [ ]:
grid.best_params_

In [ ]:
grid.best_score_

In [ ]:
print(classification_report(grid.predict(X_test_var), y_test))

**Statistical tests**

In [ ]:
#TBD: chi^2, ANOVA

**RFE**

In [ ]:
from sklearn.feature_selection import RFE, RFECV

In [ ]:
rfe_estimator = LogisticRegression(C=4.5, penalty='l1', class_weight='balanced')
# Takes very long time to compute RFECV with StratifiedKfold
# rfe_selector = RFECV(rfe_estimator, step=5, cv=StratifiedKFold(5, shuffle=True))
rfe_selector = RFE(rfe_estimator, step=1)

rfe_selector.fit(data_adult_cut, y)

In [ ]:
data_adult_cut.columns[rfe_selector.get_support()]

In [ ]:
support_columns = data_adult_cut.columns[rfe_selector.get_support()]
data_adult_rfe = data_adult_cut[support_columns]

In [ ]:
X_train_rfe = data_adult_rfe.iloc[:cutoff,:]
X_test_rfe = data_adult_rfe.iloc[cutoff:,:]

In [ ]:
X_train_rfe.shape

In [ ]:
param_grid = {'penalty':['l1','l2'],
              'C':uniform(0.25,10.0-0.25)}

grid = RandomizedSearchCV(
                        n_iter=30, 
                        estimator=lr, 
                        cv=StratifiedKFold(10, shuffle=True), 
                        param_distributions=param_grid,
                        scoring='roc_auc',
                        n_jobs=-1
                        )

grid.fit(X_train_rfe, y_train)

In [ ]:
grid.best_params_

In [ ]:
grid.best_score_

In [ ]:
print(classification_report(grid.predict(X_test_rfe), y_test))